@model Okapia.Areas.Administrator.Models.JobIndexViewModel

@{
  ViewData["Title"] = "Index";
}

<h1>صفحه مدیریت مشاغل</h1>

<h2>
  <a asp-action="Create" class="btn btn-success text-lg-center">ایجاد شغل جدید</a>
</h2>

@await Html.PartialAsync("~/Areas/Administrator/Views/Job/_SearchJobs.cshtml", Model.JobSearchModel)
@await Html.PartialAsync("~/Areas/Administrator/Views/Job/_ListJobs.cshtml", Model.JobViewModels)