@model Okapia.Areas.Administrator.Models.PageIndexViewModel

@{
  ViewData["Title"] = "مدیریت صفحات";
}

<h1>صفحه مدیریت صفحات</h1>

<h2>
  <a asp-action="Create" class="btn btn-success text-lg-center">ایجاد صفحه جدید</a>
</h2>

@*@await Component.InvokeAsync()*@

@await Html.PartialAsync("~/Areas/Administrator/Views/Page/_SearchPages.cshtml", Model.PageSearchModel)
@await Html.PartialAsync("~/Areas/Administrator/Views/Page/_ListPages.cshtml", Model.PageViewModels)