@model Okapia.Domain.Commands.User.Login
@{
  ViewData["Title"] = "صفحه ورود مشتریان";
}

<section class="custom-banner dark-overlay" style="background: url('/assets/images/hero.jpg') no-repeat fixed;"></section>

<section class="form-area section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 centered">
        <div class="section-title">
          <h2>ورود به سایت</h2>
        </div>
      </div>
      <div class="col-md-6">
        <form method="post" id="createUserFrm" asp-controller="Account" asp-action="Login">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <div class="single-field">
            <label asp-for="Username" class="control-label"></label>
            <input autocomplete="off" asp-for="Username" class="form-control direct-ltr"/>
            <span asp-validation-for="Username" class="text-danger"></span>
          </div>
          <div class="single-field">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" type="password" class="form-control direct-ltr"/>
            <span asp-validation-for="Password" class="text-danger"></span>
          </div>
          <div class="single-field">
            <div class="g-recaptcha" data-sitekey="6LeXubIUAAAAAPl-CpA4zsosiLVHjUbs6uLdQJsq"></div>
          </div>
          <h3 class="text-danger">@ViewData["errorMessage"]</h3>
          <div class="form-group">
            @*<input type="button" value="ثبت" class="btn btn-primary" onclick="createUser('@Url.Action("Register", "User")', 'createUserFrm', '@Url.Action("Index", "Home")')"/>*@
            <button type="submit" class="bttn-mid btn-fill">ورود</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>