@using Okapia.Domain.Commands.User
@model Okapia.Domain.Commands.User.CreateUser

@{
  ViewData["Title"] = "ثبت نام";
}

<div class="page-signinup">
  <div class="wrapper-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
        <div class="col-lg-10 col-md-10">
          <div class="panel panel-default">
            <div class="panel-body tab-content">
              <div class="nb-signinup-wrapper nb-signup tab-pane personal-tab fade active in">
                <p class="rb-header">ثبت نام در اُکاپیا</p>

                <form method="post" accept-charset="utf-8" class="personal-pro" asp-controller="Account" asp-action="Register">
                  <div class="nameandfname">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group req input-label-animate">
                        <div class="input text">
                          <label asp-for="Name">نام</label>
                          <input type="text" asp-for="Name" class="single-input required-input" id="user-profile-first-name" />
                        </div><span asp-validation-for="Name" class="hint danger"></span>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group req input-label-animate">
                        <div class="input text">
                          <label asp-for="Family">نام خانوادگی</label>
                          <input type="text" asp-for="Family" class="single-input required-input" id="user-profile-last-name" />
                        </div><span asp-validation-for="Family" class="hint danger"></span>
                      </div>
                    </div>
                    <div class="form-group req input-label-animate">
                      <div class="input email">
                        <label asp-for="Email">ایمیل</label>
                        <input type="email" asp-for="Email" id="registeremail" class="single-input required-input" />
                      </div><span asp-validation-for="Email" class="hint danger"></span>
                    </div>
                    <div class="form-group req input-label-animate">
                      <div class="input password">
                        <label asp-for="NationalCardNumber">کدملی(به عنوان نام کاربری)</label>
                        <input type="text" asp-for="NationalCardNumber" class="single-input required-input password-check" id="password" />
                      </div><span asp-validation-for="NationalCardNumber" class="hint danger"></span>
                    </div>
                    <div class="form-group req input-label-animate">
                      <div class="input text">
                        <label asp-for="PhoneNumber">موبایل(به عنوان رمز عبور)</label>
                        <input type="text" asp-for="PhoneNumber" maxlength="11" class="single-input required-input phonenumbervalid" id="phone" />
                      </div><span asp-validation-for="PhoneNumber" class="hint danger"></span>
                    </div>
                    <div id="bankCards">
                      <div class="form-group req input-label-animate">
                        <div class="input text">
                          <label asp-for="Card1"></label>
                          <input asp-for="Card1" class="single-input required-input" />
                          <span asp-validation-for="Card1" class="hint danger"></span>
                        </div>
                      </div>
                    </div>
                    @if (ViewData["errorMessage"] != null)
                    {
                      <div class="col-sm-23 alert alert-danger" role="alert">
                        @ViewData["errorMessage"]
                      </div>
                    }
                    <button type="button" class="btn btn-success" onclick="dynamicCard('ui')">افزودن کارت</button>
                    
                    <div class="m-b re-captcha text-center">
                      <div class="control-input captcha-net" style="display: inline-block; margin: 0 auto;">
                        @*<div align="right" class="captcha-block">
                        <div class="g-recaptcha" id="g-recaptcha-register-verify" data-sitekey="6LfyZz0UAAAAAABOhV3qPjoUSA6U-lg1I76PjhKc"></div>
                      </div>*@
                    </div>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="nb-btn nb-btn-success">ثبت نام</button>
                      <div class="link-signup clearfix">
                        <span>در اُکاپیا عضو هستید؟</span>
                        <a asp-controller="Account" asp-action="Login"
                           class="not-register nb-btn nb-btn-sm nb-btn-border show-basket">
                          ورود به حساب کاربری
                        </a>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="circle-sign"></div>
                <div class="e"></div>
              </div>
            </div>
            <div class="circle-sign"></div>
            <div class="e"></div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 hidden-sm hidden-xs">
          <img src="~/assets/theme/img/finalOK.png"
               alt="netbarg-signin"
               class="img-responsive nb-center">
        </div>
      </div>
    </div>
  </div>
</div>