@model Login
@{
    ViewData["Title"] = "Login Page";
}

@using (Html.BeginForm("SignIn", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        <label for="formGroupInputLarge1" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username", tabindex = 1 })
            <p class="text-danger">@Html.ValidationMessageFor(m => m.Username)</p>
        </div>
    </div>
    <div class="form-group">
        <label for="formGroupInputLarge1" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password", tabindex = 1 })
            <p class="text-danger">@Html.ValidationMessageFor(m => m.Password)</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary btn-lg">Login</button>
        </div>
    </div>
}