@using Okapia.Domain.ViewModels
@{
  var auth = ViewData["Auth"] as AccountViewModel;
}

<div id="wrapper">
  <!-- Top Bar Start -->
  <div class="topbar">
    <!-- LOGO -->
    <div class="topbar-left">
      <div class="text-center">
        <a href="/Customer/Home/Index" class="logo">
          <i class="md md-terrain"></i> <span> @auth?.Username عزیز به اُکاپیا خوش آمدید </span>
        </a>
      </div>
    </div>
    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
    </div>
  </div>
  <!-- Top Bar End -->
  <!-- ========== Left Sidebar Start ========== -->
  <div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
      <div class="user-details">
        <div class="user-info">
          <div class="dropdown">
            <a asp-action="Index" asp-controller="Home" asp-area="Customer" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              @auth?.Username
            </a>
          </div>

          <p class="text-muted m-0">کاربر محترم اُکاپیا</p>
        </div>
      </div>
      <!--- Divider -->
      <div id="sidebar-menu">
        <ul>
          <li>
            <a asp-action="Index" asp-controller="Home" asp-area="Customer">
              <i class="fa fa-home"></i><span> صفحه اصلی </span>
            </a>
          </li>
          <li>
            <a asp-action="Index" asp-controller="UserInfo" asp-area="Customer">
              <i class="fa fa-info"></i><span> اطلاعات کاربری </span>
            </a>
          </li>
          <li>
            <a asp-action="Create" asp-controller="Introduce" asp-area="Customer" class="waves-effect">
              <i class="fa fa-user-plus"></i>
              <span>معرفی عضو</span>
            </a>
          </li>
          <li>
            <a asp-action="Index" asp-controller="Introduce" asp-area="Customer" class="waves-effect">
              <i class="fa fa-users"></i>
              <span>معرفی شدگان توسط من</span>
            </a>
          </li>
          <li>
            <a href="#" class="waves-effect">
              <i class="fa fa-diagnoses"></i>
              <span>گزارشات کارت های من</span>
            </a>
            <ul class="list-unstyled">
              <li>
                <a href="#">مجموع خریدهای من</a>
              </li>
              <li>
                <a href="#">گزارش تخفیف های خریدهای من</a>
              </li>
              <li>
                <a href="#">کل سود به ازای هر کارت من</a>
              </li>
              <li>
                <a href="#">کل سود به ازای همه کارت ها من</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="waves-effect">
              <i class="md md-home"></i>
              <span>گزارشات کارت های معرفی شده من</span>
            </a>
            <ul class="list-unstyled">
              <li>
                <a href="#">لیست کارتهای معرفی شده من</a>
              </li>
              <li>
                <a href="#">کل سود به ازای شخص معرفی شده</a>
              </li>
            </ul>
          </li>
          <li>
            <a asp-action="Index" asp-controller="Home" asp-area="" class="waves-effect">
              <i class="fa fa-home"></i><span> بازگشت به سایت </span>
            </a>
          </li>
          <li>
            <a asp-action="Logout" asp-controller="Account" asp-area="" class="waves-effect">
              <i class="fa fa-sign-out"></i>
              <span>خروج</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>