@model IEnumerable<Okapia.Domain.ViewModels.Page.PageItemViewModel>

<div class="single-sidebar wow fadeInRight" data-wow-delay="0.3s">
  <h3>آخرین مطالب</h3>
  @foreach (var pageItem in Model)
  {
    <div class="single-latest-post">
      <h4>
        <a title="@pageItem.PageTitle" asp-controller="PageView" asp-action="Details" asp-route-id="@pageItem.PageId">@pageItem.PageTitle</a>
      </h4>
      <div class="single-latest-post-date">
        <span>@pageItem.PagePublishDate</span>
      </div>
    </div> 
  }
</div>