
@{

}

<div id="wrapper">
  <!-- Top Bar Start -->
  <div class="topbar">
    <!-- LOGO -->
    <div class="topbar-left">
      <div class="text-center">
        <a href="index.html" class="logo"><i class="md md-terrain"></i> <span>Moltran </span></a>
      </div>
    </div>
    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
    </div>
  </div>
  <!-- Top Bar End -->
  <!-- ========== Left Sidebar Start ========== -->
  <div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
      <div class="user-details">
        <div class="user-info">
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              John Doe
            </a>
          </div>

          <p class="text-muted m-0">Administrator</p>
        </div>
      </div>
      <!--- Divider -->
      <div id="sidebar-menu">
        <ul>
          <li>
            <a href="inbox.html" class="waves-effect"><i class="md md-home"></i><span> Inbox </span></a>
          </li>
          <li>
            <a href="email-compose.html" class="waves-effect">
              <i class="md md-home"></i><span>
                Compose
                Mail
              </span>
            </a>
          </li>
          <li>
            <a href="email-read.html" class="waves-effect">
              <i class="md md-home"></i><span>
                View Mail
              </span>
            </a>
          </li>
          <li>
            <a href="task-list.html" class="waves-effect"><i class="md md-home"></i><span> Tasks </span></a>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>