@using Okapia.Domain.SeachModels
@model Okapia.Domain.SeachModels.CategorySearchModel
<hr/>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-border panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">جستجو در مشاغل</h2>
      </div>
      <div class="panel-body">
        <form asp-action="Index" asp-controller="Category" method="GET">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="CategoryName" class="control-label"></label>
              <input asp-for="CategoryName" class="form-control"/>
              <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="CategoryParrentId" class="control-label"></label>
              <select asp-for="CategoryParrentId" asp-items="@Model.Categories" class="form-control"></select>
              <span asp-validation-for="CategoryParrentId" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input type="submit" value="جستجو" class="btn btn-primary"/>
            </div>
            <hr />
            <div class="form-group">
              <a asp-area="Administrator" asp-controller="Category" asp-action="Index" class="btn btn-warning">پاکسازی فرم جستجو</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

@*<script>
  function getList(sourceDropdown, action, distDropdown) {
    var id = $(sourceDropdown).val();
    $.ajax({
      url: action + '/' + id,
      type: 'Get',
      //datatype: 'application/json',
      contentType: 'application/json',
      //data: JSON.stringify({
      //  stateId: +stateId
      //}),
      success: function(result) {
        $(distDropdown).html("");
        $.each(result,
          function(i, item) {
            $(distDropdown).append($('<option></option>').val(item.id).html(item.name));
          });
      },
      error: function() {
        alert("خطا در ارتباط با سرور لطفا با مدیر سیتم تماس بگیرید.");
      }
    });
  }

  function getCityList() {
    this.getList('#provinceDropDown', 'GetCitiesByProvince', '#cityDropDown');
  }

  function getDistrictList() {
    this.getList('#cityDropDown', 'GetDistrictsByCity', '#districtDropDown');
  }

  function getNeighborhoodList() {
    this.getList('#districtDropDown', 'GetNeighborhoodsByDistrict', '#neighborhoodDropDown');
  }
</script>*@