@using Okapia.Domain.SeachModels
@model Okapia.Domain.SeachModels.CategorySearchModel
<hr/>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-border panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">جستجو در گروه های مشاغل</h2>
      </div>
      <div class="panel-body">
        <form asp-action="Index" asp-controller="Category" method="GET">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="CategoryName" class="control-label"></label>
              <input asp-for="CategoryName" class="form-control"/>
              <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="CategoryParrentId" class="control-label"></label>
              <select asp-for="CategoryParrentId" asp-items="@Model.Categories" class="select2">
                <option value="0">گروه مافوق را انتخاب کنید...</option>
              </select>
              <span asp-validation-for="CategoryParrentId" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="IsDeleted" class="control-label"></label>
              <input asp-for="IsDeleted" class="form-control"/>
              <span asp-validation-for="IsDeleted" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input type="submit" value="جستجو" class="btn btn-primary"/>
              <a asp-area="Administrator" asp-controller="Category" asp-action="Index" class="btn btn-warning">به روزرسانی/پاکسازی فرم جستجو</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>