@model Okapia.Areas.Administrator.Models.CategoryIndexViewModel

@{
  ViewData["Title"] = "Index";
}

<h1>صفحه مدیریت گروه های مشاغل</h1>

<h2>
  <a asp-action="Create" class="btn btn-success text-lg-center">ایجاد گروه مشاغل جدید</a>
</h2>

@await Html.PartialAsync("~/Areas/Administrator/Views/Category/_SearchCategories.cshtml", Model.CategorySearchModel)
@await Html.PartialAsync("~/Areas/Administrator/Views/Category/_ListCategories.cshtml", Model.CategoryViewModels)