@using Okapia.Areas.Customer.ViewComponents
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Okapia</title>

  @*<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
  </environment>
  <environment exclude="Development">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
          crossorigin="anonymous"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
  </environment>*@
  
  
  <!-- Base Css Files -->
  <link href="~/css/bootstrap.css" rel="stylesheet" />

  <!-- Font Icons -->
  <link href="~/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  <link href="~/assets/ionicon/css/ionicons.min.css" rel="stylesheet" />

  <!-- animate css -->
  <link href="~/css/animate.css" rel="stylesheet" />

  <!-- Waves-effect -->
  <link href="~/css/waves-effect.css" rel="stylesheet">

  <!-- Custom Files -->
  <link href="~/css/helper.css" rel="stylesheet" type="text/css" />
  <link href="~/css/style.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="fixed-left">

  @await Component.InvokeAsync(typeof(NavigatorViewComponent));

  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="content-page">
    <!-- Start content -->
    <div class="content">
      <div class="container">
        @RenderBody()

        <hr />
        <footer class="border-top footer text-muted">
          <div class="container">
            &copy; 2019 - Okapia - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
          </div>
        </footer>

      </div>
      <!-- ============================================================== -->
      <!-- End Right content here -->
      <!-- ============================================================== -->

    </div>
  </div>
  <!-- END wrapper -->



  <environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
  </environment>
  <environment exclude="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
    </script>
  </environment>
  <script src="~/js/site.js" asp-append-version="true"></script>
  <script src="~/assets/flot-chart/jquery.flot.js"></script>

  <script src="~/assets/flot-chart/jquery.flot.time.js"></script>
  <script src="~/assets/flot-chart/jquery.flot.pie.js"></script>
  <script src="~/assets/flot-chart/jquery.flot.selection.js"></script>

  <script src="~/js/jquery.app.js"></script>
  <script src="~/js/jquery.dashboard.js"></script>
  @RenderSection("Scripts", required: false)
</body>
</html>
