@model Okapia.Areas.Administrator.Models.SlideIndexViewModel

@{
  ViewData["Title"] = "مدیریت اسلایدشو";
}

<h1>صفحه مدیریت اسلایدشو</h1>

<h2>
  <a asp-action="Create" class="btn btn-success text-lg-center">ایجاد اسلاید جدید</a>
</h2>

@*@await Component.InvokeAsync()*@

@await Html.PartialAsync("~/Areas/Administrator/Views/Slide/_SearchSlides.cshtml", Model.SlideSearchModel)
@await Html.PartialAsync("~/Areas/Administrator/Views/Slide/_ListSlides.cshtml", Model.SlideViewModels)