@model Okapia.Domain.Commands.Setting.SettingDto

@{
  ViewData["Title"] = "ویرایش تنظیمات سایت";
}

<h2>مدیریت تنظیمات سایت</h2>

<hr/>
<div class="row">
  <div class="col-md-12">
    <form id="createSettingsFrm">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="col-md-8">
        <div class="form-group">
          <label asp-for="About" class="control-label"></label>
          <div class="">
            <textarea asp-for="About" class="form-control" rows="8"></textarea>
          </div>
          <span asp-validation-for="About" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="FooterAbout" class="control-label"></label>
          <div class="">
            <textarea asp-for="FooterAbout" class="form-control" rows="8"></textarea>
          </div>
          <span asp-validation-for="FooterAbout" class="text-danger"></span>
        </div>
      </div>
      <table class="col-md-12 table table-bordered text-center">
        <tr>
          <td>تصویر درباره ما</td>
          <td>عنوان عکس</td>
          <td>Alt</td>
          <td>پیش نمایش</td>
          <td>حذف</td>
        </tr>
        <tr>
          <td>
            <input id="aboutPicture" name="aboutPicture" type="file" size="1" onchange="uploadFile('aboutPicture', 'AboutPicture', 'deleteImage', 'about');PreviewImage('aboutPicture', 'prevImage');" class="form-control custom-file-input" accept="image/*" />
            <input asp-for="AboutPicture" type="hidden" size="1" value="" />
            <span class="text-danger"><strong>نکته:</strong> سایز عکس باید ۵۷۰ * ۵۷۰ باشد</span>
          </td>
          <td>
            <div class="form-group">
              <input asp-for="AboutPictureTitle" class="form-control"/>
              <span asp-validation-for="AboutPictureTitle" class="text-danger"></span>
            </div>
          </td>
          <td>
            <div class="form-group">
              <input asp-for="AboutPictureAlt" class="form-control"/>
              <span asp-validation-for="AboutPictureAlt" class="text-danger"></span>
            </div>
          </td>
          <td>
            <img id="prevImage" src="~/defaultimage.png" alt="your image" with="100" height="100"/>
          </td>
          <td>
            <button type="button" id="deleteImage" onclick="deletePhoto('AboutPicture', 'prevImage', 'deleteImage', 'AboutPictureTitle', 'AboutPictureAlt', 'desc', 'about')" class="btn btn-danger hidden">حذف</button>
          </td>
        </tr>
      </table>
      <div class="col-md-12">
        <div class="form-group">
          <label asp-for="Privacy" class="control-label"></label>
          <div class="">
            <textarea asp-for="Privacy" class="form-control" rows="8"></textarea>
          </div>
          <span asp-validation-for="Privacy" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="Address" class="control-label"></label>
          <input asp-for="Address" class="form-control"/>
          <span asp-validation-for="Address" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="Tell1" class="control-label"></label>
          <input asp-for="Tell1" class="form-control"/>
          <span asp-validation-for="Tell1" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="Tell2" class="control-label"></label>
          <input asp-for="Tell2" class="form-control"/>
          <span asp-validation-for="Tell2" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="Email" class="control-label"></label>
          <input asp-for="Email" class="form-control"/>
          <span asp-validation-for="Email" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="Map" class="control-label"></label>
          <input asp-for="Map" class="form-control"/>
          <span asp-validation-for="Map" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="MetaTags" class="control-label"></label>
          <input asp-for="MetaTags" class="form-control"/>
          <span asp-validation-for="MetaTags" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="MetaDescription" class="control-label"></label>
          <input asp-for="MetaDescription" class="form-control"/>
          <span asp-validation-for="MetaDescription" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="CanonicalAddress" class="control-label"></label>
          <input asp-for="CanonicalAddress" class="form-control"/>
          <span asp-validation-for="CanonicalAddress" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="Facebook" class="control-label"></label>
          <input asp-for="Facebook" class="form-control"/>
          <span asp-validation-for="Facebook" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="Instagram" class="control-label"></label>
          <input asp-for="Instagram" class="form-control"/>
          <span asp-validation-for="Instagram" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="Telegram" class="control-label"></label>
          <input asp-for="Telegram" class="form-control"/>
          <span asp-validation-for="Telegram" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="Twitter" class="control-label"></label>
          <input asp-for="Twitter" class="form-control"/>
          <span asp-validation-for="Twitter" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="FeaturedJobsTitle" class="control-label"></label>
          <input asp-for="FeaturedJobsTitle" class="form-control"/>
          <span asp-validation-for="FeaturedJobsTitle" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label asp-for="ForgetPasswordText" class="control-label"></label>
          <input asp-for="ForgetPasswordText" class="form-control"/>
          <span asp-validation-for="ForgetPasswordText" class="text-danger"></span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <input type="button" value="ثبت" onclick="createEntityThenReferesh('@Url.Action("Create", "Setting")', 'createSettingsFrm')" class="btn btn-lg btn-success"/>
          <a class="btn btn-lg btn-warning" asp-action="Index" asp-controller="Setting">بازگشت به تنظیمات</a>
        </div>
      </div>
    </form>
  </div>
</div>