@model IEnumerable<Okapia.Domain.ViewModels.LinkGroup.LinkGroupWithLinksViewModel>

          @foreach (var linkGroup in Model)
          {
            <ul class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <li>@linkGroup.Name</li>
              @foreach (var link in linkGroup.Links)
              {
                <li>
                  <a href="@link.Target">@link.Label</a>
                </li>
              }
            </ul>
          }
