@model List<Okapia.Domain.ViewModels.EmployeeController.AccessControllerViewModel>
@using Okapia.Domain.ViewModels
@{
  var auth = ViewData["Auth"] as AccountViewModel;
}

<div id="wrapper">
<!-- Top Bar Start -->
<div class="topbar">
  <!-- LOGO -->
  <div class="topbar-left">
    <div class="text-center">
      <a href="/Administrator/Home/Index" class="logo">
        <i class="md md-terrain"></i> <span> @auth?.Username عزیز به اُکاپیا خوش آمدید</span>
      </a>
    </div>
  </div>
  <!-- Button mobile view to collapse sidebar menu -->
  <div class="navbar navbar-default" role="navigation">
  </div>
</div>
<!-- Top Bar End -->
<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
<div class="sidebar-inner slimscrollleft">
<div class="user-details">
  <div class="user-info">
    <div class="dropdown">
      <a asp-action="Index" asp-controller="Home" asp-area="Administrator" class="dropdown-toggle" aria-expanded="false">
        @auth?.Username
      </a>
    </div>
    @if (auth?.Role == 5)
    {
      <p class="text-muted m-0">مدیر محترم اُکاپیا</p>
    }
    else
    {
      <p class="text-muted m-0">کارمند محترم اُکاپیا</p>
    }
  </div>
</div>
<!--- Divider -->
<div id="sidebar-menu">
<ul>
<li>
  <a asp-action="Index" asp-controller="Home" asp-area="Administrator">
    <i class="fa fa-hamsa"></i><span> ناحیه کاربری </span>
  </a>
</li>
@if (Model.Any(x => x.ControllerName == "Job") || Model.Any(x => x.ControllerName == "Category") || Model.Any(x => x.ControllerName == "Category"))
{
  <li class="has-sub">
    <a class="waves-effect">
      <i class="fa fa-suitcase fa-2x"></i>
      <span>مشاغل</span>
    </a>
    <ul class="list-unstyled">
      @if (Model.Any(x => x.ControllerName == "Job"))
      {
        <li>
          <a asp-action="Index" asp-controller="Job" asp-area="Administrator" class="waves-effect">
            <i class="md md-home"></i>
            <span>مدیریت مشاغل</span>
          </a>
        </li>
      }
      @if (Model.Any(x => x.ControllerName == "Category"))
      {
        <li>
          <a asp-action="Index" asp-controller="Category" asp-area="Administrator" class="waves-effect">
            <i class="md md-home"></i>
            <span>مدیریت گروه های مشاغل</span>
          </a>
        </li>
      }
      @if (Model.Any(x => x.ControllerName == "JobRequest"))
      {
        <li>
          <a asp-action="Index" asp-controller="JobRequest" asp-area="Administrator" class="waves-effect">
            <i class="md md-home"></i>
            <span>مدیریت درخواست های شغلی</span>
          </a>
        </li>
      }
    </ul>
  </li>
}

@if (Model.Any(x => x.ControllerName == "User") || Model.Any(x => x.ControllerName == "Group") || Model.Any(x => x.ControllerName == "Modal"))
{
  <li>
    <a class="waves-effect">
      <i class="fa fa-user-plus fa-2x"></i>
      <span>مشتریان</span>
    </a>
    <ul class="list-unstyled">
      @if (Model.Any(x => x.ControllerName == "User"))
      {
        <li>
          <a asp-action="Index" asp-controller="User" asp-area="Administrator" class="waves-effect">
            <i class="md md-home"></i>
            <span>مدیریت مشتریان</span>
          </a>
        </li>
      }
      @if (Model.Any(x => x.ControllerName == "Group"))
      {
        <li>
          <a asp-action="Index" asp-controller="Group" asp-area="Administrator" class="waves-effect">
            <i class="md md-home"></i>
            <span>مدیریت گروه مشتریان</span>
          </a>
        </li>
      }
      @if (Model.Any(x => x.ControllerName == "Modal"))
      {
        <li>
          <a asp-action="Index" asp-controller="Modal" asp-area="Administrator" class="waves-effect">
            <i class="md md-home"></i>
            <span>مدیریت اعلانات</span>
          </a>
        </li>
      }
    </ul>
  </li>
}

@if (Model.Any(x => x.ControllerName == "Employee") || Model.Any(x => x.ControllerName == "Marketer"))
{
  <li>
    <a class="waves-effect">
      <i class="fa fa-users fa-2x"></i>
      <span>مدیریت کارمند و بازاریاب</span>
    </a>
    <ul>
      @if (Model.Any(x => x.ControllerName == "Employee"))
      {
        <li>
          <a asp-action="Index" asp-controller="Employee" asp-area="Administrator" class="waves-effect">
            <i class="md md-home"></i>
            <span>مدیریت کارمندان</span>
          </a>
        </li>
      }
      @if (Model.Any(x => x.ControllerName == "Marketer"))
      {
        <li>
          <a asp-action="Index" asp-controller="Marketer" asp-area="Administrator" class="waves-effect">
            <i class="md md-home"></i>
            <span>مدیریت بازاریابان</span>
          </a>
        </li>
      }
    </ul>
  </li>
}

    @*<li>
      <a asp-action="Index" asp-controller="Club" asp-area="Administrator" class="waves-effect">
        <i class="md md-home"></i>
        <span> مدیریت باشگاه مشتریان </span>
      </a>
    </li>*@


    @*<li>
      <a href="#" class="waves-effect">
        <i class="md md-home"></i>
        <span>گزارشات مدیریت</span>
      </a>
      <ul class="list-unstyled">
        <li><a href="#">نمونه گزارشات مدیریت۱</a></li>
        <li><a href="#">نمونه گزارشات مدیریت۲</a></li>
        <li><a href="#">نمونه گزارشات مدیریت۳</a></li>
      </ul>
    </li>*@
    @*<li>
      <a href="#" class="waves-effect">
        <i class="md md-home"></i>
        <span>گزارشات باشگاه مشتریان</span>
      </a>
      <ul class="list-unstyled">
        <li><a href="#">اعضای باشگاه مشتریان</a></li>
        <li><a href="#">تراکنش های باشگاه</a></li>
        <li><a href="#">خرید اعضای باشگاه مشتریان</a></li>
        <li><a href="#">تخفیف دریافتی اعضای باشگاه</a></li>
      </ul>
    </li>*@
@if (Model.Any(x => x.ControllerName == "Page") || Model.Any(x => x.ControllerName == "PageCategory") || Model.Any(x => x.ControllerName == "Comment"))
{
  <li>
    <a class="waves-effect">
      <i class="fa fa-pagelines"></i>
      <span>مدیریت صفحه ساز</span>
    </a>
    <ul class="list-unstyled">
      @if (Model.Any(x => x.ControllerName == "Page"))
      {
        <li>
          <a asp-action="Index" asp-controller="Page" asp-area="Administrator">مدیریت صفحات</a>
        </li>
      }
      @if (Model.Any(x => x.ControllerName == "PageCategory"))
      {
        <li>
          <a asp-action="Index" asp-controller="PageCategory" asp-area="Administrator"> مدیریت رده بندی صفحات</a>
        </li>
      }
      @if (Model.Any(x => x.ControllerName == "Comment"))
      {
        <li>
          <a asp-action="Index" asp-controller="Comment" asp-area="Administrator"> مدیریت کامنت ها</a>
        </li>
      }
    </ul>
  </li>
}
@if (Model.Any(x => x.ControllerName == "City") || Model.Any(x => x.ControllerName == "District") || Model.Any(x => x.ControllerName == "Neighborhood"))
{
  <li>
    <a class="waves-effect">
      <i class="fa fa-info-circle fa-2x"></i>
      <span>مدیریت اطلاعات پایه</span>
    </a>
    <ul class="list-unstyled">
      @if (Model.Any(x => x.ControllerName == "City"))
      {
        <li>
          <a asp-action="Index" asp-controller="City" asp-area="Administrator">شهر</a>
        </li>
      }
      @if (Model.Any(x => x.ControllerName == "District"))
      {
        <li>
          <a asp-action="Index" asp-controller="District" asp-area="Administrator">مناطق</a>
        </li>
      }
      @if (Model.Any(x => x.ControllerName == "Neighborhood"))
      {
        <li>
          <a asp-action="Index" asp-controller="Neighborhood" asp-area="Administrator">محله</a>
        </li>
      }
    </ul>
  </li>
}
@if (Model.Any(x => x.ControllerName == "Slide") || Model.Any(x => x.ControllerName == "Setting") || Model.Any(x => x.ControllerName == "Link"))
{
  <li>
    <a class="waves-effect">
      <i class="fa fa-gears fa-2x"></i>
      <span>پیکربندی</span>
    </a>
    <ul class="list-unstyled">
      @if (Model.Any(x => x.ControllerName == "Slide"))
      {
        <li>
          <a asp-action="Index" asp-controller="Slide" asp-area="Administrator">مدیریت اسلایدها</a>
        </li>
      }
      @if (Model.Any(x => x.ControllerName == "Setting"))
      {
        <li>
          <a asp-action="Index" asp-controller="Setting" asp-area="Administrator">مدیریت تنظیمات سایت</a>
        </li>
      }
      @if (Model.Any(x => x.ControllerName == "Link"))
      {
        <li>
          <a asp-action="Index" asp-controller="Link" asp-area="Administrator">مدیریت لینک ها</a>
        </li>
      }
    </ul>
  </li>
}
<li>
  <a asp-action="Index" asp-controller="Home" asp-area="" class="waves-effect">
    <i class="fa fa-home"></i>
    <span>بازگشت به سایت</span>
  </a>
</li>
<li>
  <a asp-action="Logout" asp-controller="Account" asp-area="" class="waves-effect">
    <i class="fa fa-sign-out"></i>
    <span>خروج</span>
  </a>
</li>
@*<li>
      <a href="task-list.html" class="waves-effect">
        <i class="md md-home"></i>
        <span> تنظیمات سایت </span>
      </a>
    </li>*@
</ul>
</div>
<div class="clearfix"></div>
</div>
</div>
</div>