@using Okapia.Application.Utilities
@using Okapia.Domain.ViewModels.User
@{
  var auth = ViewData["Auth"] as UserInfoViewModel;
}

<div id="wrapper">
  <!-- Top Bar Start -->
  <div class="topbar">
    <!-- LOGO -->
    <div class="topbar-left">
      <div class="text-center">
        <a href="index.html" class="logo">
          <i class="md md-terrain"></i> <span> OKAPIA </span>
        </a>
      </div>
    </div>
    <div class="topbar-left pull-right">
      <div class="text-center">
        <a asp-action="Index" asp-controller="Home" asp-area="" class="logo">
          <i class="md md-terrain"></i><span> بازگشت به سایت </span>
        </a>
      </div>
    </div>
    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
    </div>
  </div>
  <!-- Top Bar End -->
  <!-- ========== Left Sidebar Start ========== -->
  <div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
      <div class="user-details">
        <div class="user-info">
          <div class="dropdown">
            <a asp-action="Index" asp-controller="Home" asp-area="Administrator" class="dropdown-toggle" aria-expanded="false">
              @auth?.Username
            </a>
          </div>
          <p class="text-muted m-0">@auth?.Role</p>
        </div>
      </div>
      <!--- Divider -->
      <div id="sidebar-menu">
        <ul>
          @*<li>
            <a asp-action="Index" asp-controller="Home" asp-area="Administrator">
              <i class="md md-home"></i><span> ناحیه کاربری </span>
            </a>
          </li>*@
          <li>
            <a asp-action="Index" asp-controller="Customers" asp-area="Administrator" class="waves-effect">
              <i class="md md-home"></i>
              <span>مدیریت مشتریان</span>
            </a>
          </li>
          <li>
            <a asp-action="Index" asp-controller="Employee" asp-area="Administrator" class="waves-effect">
              <i class="md md-home"></i>
              <span>مدیریت کارمندان</span>
            </a>
          </li>
          <li>
            <a asp-action="Index" asp-controller="Club" asp-area="Administrator" class="waves-effect">
              <i class="md md-home"></i>
              <span> مدیریت باشگاه مشتریان </span>
            </a>
          </li>
          <li>
            <a asp-action="Index" asp-controller="Job" asp-area="Administrator" class="waves-effect">
              <i class="md md-home"></i>
              <span>مدیریت مشاغل</span>
            </a>
          </li>
          <li>
            <a asp-action="Index" asp-controller="Category" asp-area="Administrator" class="waves-effect">
              <i class="md md-home"></i>
              <span>مدیریت گروه های مشاغل</span>
            </a>
          </li>
          <li>
            <a href="#" class="waves-effect">
              <i class="md md-home"></i>
              <span>گزارشات مدیریت</span>
            </a>
            <ul class="list-unstyled">
              <li><a href="#">نمونه گزارشات مدیریت۱</a></li>
              <li><a href="#">نمونه گزارشات مدیریت۲</a></li>
              <li><a href="#">نمونه گزارشات مدیریت۳</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="waves-effect">
              <i class="md md-home"></i>
              <span>گزارشات باشگاه مشتریان</span>
            </a>
            <ul class="list-unstyled">
              <li><a href="#">اعضای باشگاه مشتریان</a></li>
              <li><a href="#">تراکنش های باشگاه</a></li>
              <li><a href="#">خرید اعضای باشگاه مشتریان</a></li>
              <li><a href="#">تخفیف دریافتی اعضای باشگاه</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="waves-effect">
              <i class="md md-home"></i>
              <span>مدیریت صفحه ساز</span>
            </a>
            <ul class="list-unstyled">
              <li><a asp-action="Index" asp-controller="Page" asp-area="Administrator">مدیریت صفحات</a></li>
              <li><a href="#">رده بندی صفحات</a></li>
              <li><a href="#">مدیریت کامنت ها</a></li>
              <li><a asp-action="Index" asp-controller="Notification" asp-area="Administrator">مدیریت اعلانات</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="waves-effect">
              <i class="md md-home"></i>
              <span>مدیریت اطلاعات پایه</span>
            </a>
            <ul class="list-unstyled">
              <li><a asp-action="Index" asp-controller="City" asp-area="Administrator">شهر</a></li>
              <li><a asp-action="Index" asp-controller="District" asp-area="Administrator">مناطق</a></li>
              <li><a asp-action="Index" asp-controller="Neighborhood" asp-area="Administrator">محله</a></li>
            </ul>
          </li>
          <li>
            <a href="task-list.html" class="waves-effect">
              <i class="md md-home"></i>
              <span> تنظیمات سایت </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>