@{
  ViewData["Title"] = "Home Page";
}
@await Component.InvokeAsync("Notification")
<div class="jumbotron">
  <h1>خوش آمدید</h1>
  <p>اسلایدشو محصولات در این قسمت قرار خواهد گرفت. توضیحاتی مربوط به صفحه اصلی سایت تخفیف اَکاپیا</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">درباره ما</a></p>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/image.svg" spellcheckalt="Generic placeholder thumbnail" width="100%">
      <div class="caption">
        <h3>نمونه شغل</h3>
        <p class="text-justify">توضیحات مربوط به شغل در این قسمت قرار خواهد گرفت. توضیحات مربوط به شغل در این قسمت قرار خواهد گرفت. توضیحات مربوط به شغل در این قسمت قرار خواهد گرفت. </p>
        <p><a href="#" class="btn btn-primary" role="button">اطلاعات بیشتر</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/image.svg" spellcheckalt="Generic placeholder thumbnail" width="100%">
      <div class="caption">
        <h3>نمونه شغل</h3>
        <p class="text-justify">توضیحات مربوط به شغل در این قسمت قرار خواهد گرفت. توضیحات مربوط به شغل در این قسمت قرار خواهد گرفت. توضیحات مربوط به شغل در این قسمت قرار خواهد گرفت. </p>
        <p><a href="#" class="btn btn-primary" role="button">اطلاعات بیشتر</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/image.svg" spellcheckalt="Generic placeholder thumbnail" width="100%">
      <div class="caption">
        <h3>نمونه شغل</h3>
        <p class="text-justify">توضیحات مربوط به شغل در این قسمت قرار خواهد گرفت. توضیحات مربوط به شغل در این قسمت قرار خواهد گرفت. توضیحات مربوط به شغل در این قسمت قرار خواهد گرفت. </p>
        <p><a href="#" class="btn btn-primary" role="button">اطلاعات بیشتر</a>
      </div>
    </div>
  </div>
</div>