@model Okapia.Areas.Administrator.Models.JobRequestIndexViewModel

@{
  ViewData["Title"] = "مدیریت درخواست های شغلی";
}

<h1>صفحه مدیریت درخواست های شغلی</h1>


@await Html.PartialAsync("~/Areas/Administrator/Views/JobRequest/_SearchRequests.cshtml", Model.JobRequestSearchModel)

<div id="listRequestsDiv">
  @await Html.PartialAsync("~/Areas/Administrator/Views/JobRequest/_ListRequests.cshtml", Model.JobRequestViewModels)
</div>
