@model Okapia.Areas.Administrator.Models.CommentIndexViewModel

@{
  ViewData["Title"] = "مدیریت کامنت ها";
}

<h1>صفحه مدیریت کامنت ها</h1>


@await Html.PartialAsync("~/Areas/Administrator/Views/Comment/_SearchComments.cshtml", Model.CommentSearchModel)

<div id="listCommentsDiv">
  @await Html.PartialAsync("~/Areas/Administrator/Views/Comment/_ListComments.cshtml", Model.CommentViewModels)
</div>
