@model IEnumerable<Okapia.Domain.ViewModels.PageCategory.PageCategoryMenuViewModel>

<nav class="navbar sticky-top navbar-expand-lg main-menu blog-Menu">
  <div class="container rtl">
    <div class="row megamenu collapse navbar-collapse">
      <div class="container">
        <ul class="items">
          @foreach (var pageCategory in Model)
          {
            <li>
              <a asp-action="Index" asp-controller="PageView" asp-route-id="@pageCategory.PageCategorySlug">
                @pageCategory.PageCategoryName
              </a>
            </li>
          }
          <li>
            <a href="/Home/About">
              درباره ما
            </a>
          </li>
          <li>
            <a href="/Home/Contact">
              تماس با ما
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>