@model JobViewIndexViewModel

@{
  ViewData["Title"] = "مراکز خدماتی" + " " + Model.CategoryViewDetailsViewModel?.CategoryPageTittle;
  ViewData["MetaDescription"] = Model.CategoryViewDetailsViewModel?.CategoryMetaDesccription;
  ViewData["MetaTags"] = Model.CategoryViewDetailsViewModel?.CategoryMetaTag;
  ViewData["CanonicalAddress"] = Model.CategoryViewDetailsViewModel?.CategoryCanonicalAddress;
  Layout = "~/Views/Shared/_Layout.cshtml";
}


@*@await Html.PartialAsync("~/Views/JobView/_Search.cshtml", Model.JobViewSearchModel)*@
<div class="page-index page-home">

  <div class="wrapper-2">
    <div class="container-fluid">
      <div class="row h-position">

        @await Component.InvokeAsync("FloatingCategories")

        @await Html.PartialAsync("~/Views/JobView/_List.cshtml", Model.CategoryViewDetailsViewModel)

        @await Component.InvokeAsync("CompanyNumbers")

      </div>
    </div>
  </div>
</div>