@model Okapia.Areas.Customer.Models.IntroducedIndexViewModel

@{
  ViewData["Title"] = "معرفی شدگان توسط من";
}

<h1>معرفی شدگان توسط من</h1>

<h2>
  <a class="btn btn-success text-lg-center" asp-action="Create" asp-controller="Introduce" asp-area="Customer">معرفی عضو جدید</a>
</h2>

@await Html.PartialAsync("~/Areas/Customer/Views/Introduce/_SearchIntroduces.cshtml", Model.IntroducedSearchModel)
@await Html.PartialAsync("~/Areas/Customer/Views/Introduce/_ListIntroduces.cshtml", Model.IntroducedViewModels)
