@model IEnumerable<Okapia.Domain.ViewModels.Page.PageItemViewModel>

<div class="col-lg-4 col-md-4 col-sm-6">
  <div class="footer-menu">
    <h3>آخرین مطالب</h3>
    <ul>
      @foreach (var item in Model)
      {
        <li>
          <a asp-controller="PageView" asp-action="Details" asp-route-id="@item.PageSlug">@item.PageTitle</a>
        </li>
      }
    </ul>
  </div>
</div>