@model Okapia.Domain.Commands.Setting.SettingDto

@{
  ViewData["Title"] = "درباره اُکاپیا";
}
<section class="custom-banner dark-overlay" style="background: url('/assets/images/counter.jpg') no-repeat fixed;"></section><!--/Custom Banner-->
<!--About Area-->
<section class="about-area section-padding-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-12 centered wow fadeInUp" data-wow-delay="0.3s">
        <div class="section-title">
          <h2>درباره ما</h2>
        </div>
      </div>
    </div>
    <div class="row rtl">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0.4s">
        <div class="about-media">
          <img src="~/AboutPicture/@Model.AboutPicture" alt="@Model.AboutPictureAlt" title="@Model.AboutPictureTitle">
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="0.4s">
        <div class="about-content">
          <p>@Model.About</p>
        </div>
      </div>
    </div>
  </div>
</section><!--/About Area-->