@inject IOptions<RecaptchaSettings> RecaptchaSettings
@using Microsoft.Extensions.Options
@using reCAPTCHA.AspNetCore
@model Okapia.Domain.Commands.JobRequest.CreateJobRequest

@{
    ViewData["Title"] = "درخواست نمایندگی و عضویت در سیستم اکاپیا";
    //var province = ViewData["province"].ToString();
}

<div class="page-signinup">
  <div class="wrapper-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
        <div class="col-lg-10 col-md-10">
          <div class="panel panel-default">
            <div class="panel-body tab-content">
              <div class="nb-signinup-wrapper nb-signin tab-pane personal-tab fade in active">
                <p class="rb-header">درخواست نمایندگی اَکاپیا</p>
                <form id="createJobRequestFrm" asp-action="Agency" asp-controller="Home" asp-area="" accept-charset="utf-8" class="personal-pro ajaxform">
                  <div style="display: none;">
                    <input type="hidden" name="_method" value="POST"/>
                  </div>
                  <div class="nameandfname">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group req input-label-animate">
                      <div class="input text">
                        <label asp-for="Name"></label>
                        <input type="text" asp-for="Name" class="single-input required-input"/>
                      </div><span class="hint danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group req input-label-animate">
                      <div class="input text">
                        <label asp-for="ContactTitle"></label>
                        <input type="text" asp-for="ContactTitle" class="single-input required-input"/>
                      </div><span class="hint danger" asp-validation-for="ContactTitle"></span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group req">
                      <label asp-for="ProvinceId"></label>
                      <select name="ProvinceId" class="single-select required-input" id="searchProvinceDropDown" asp-items="@Model.Provinces" onchange="getCityList('searchProvinceDropDown', '@Url.Action("GetCitiesByProvince", "Home", new {area = ""})', 'searchCityDropDown')">
                        <option value="0">استان را انتخاب کنید</option>
                      </select>
                      <span class="hint danger" asp-validation-for="CityId"></span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group req">
                      <label asp-for="CityId"></label>
                      <select asp-for="CityId" class="single-select required-input" id="searchCityDropDown">
                      </select>
                      <span class="hint danger" asp-validation-for="CityId"></span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group req input-label-animate">
                      <div class="input text">
                        <label asp-for="Tel"></label>
                        <input type="text" asp-for="Tel" class="single-input required-input"/>
                      </div><span class="hint danger" asp-validation-for="Tel"></span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group req input-label-animate">
                      <div class="input text">
                        <label asp-for="Mobile"></label>
                        <input type="text" asp-for="Mobile" class="single-input required-input"/>
                      </div><span class="hint danger" asp-validation-for="Mobile"></span>
                    </div>
                    <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24 form-group req input-label-animate">
                      <div class="input text">
                        <label asp-for="Address"></label>
                        <input type="text" asp-for="Address" class="single-input"/>
                      </div><span class="hint danger" asp-validation-for="Address"></span>
                    </div>
                    <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24 form-group input-label-animate">
                      <div class="input text">
                        <label asp-for="Description"></label>
                        <textarea type="text" asp-for="Description" class="single-input required-input"></textarea>
                      </div>
                    </div>
                    @if (ViewData["errorMessage"] != null)
                    {
                      <div class="col-sm-23 alert alert-danger" role="alert">
                        @ViewData["errorMessage"]
                      </div>
                    }
                    <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24 form-group">
                      <button type="submit" class="nb-btn nb-btn-success">ثبت درخواست</button>
                    </div>
                  </div>
                  
                </form>
              </div>
            </div>
            <div class="circle-sign"></div>
            <div class="e"></div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 hidden-sm hidden-xs">
          <img src="~/assets/theme/img/finalOK.png"
               alt="netbarg-signin"
               class="img-responsive nb-center">
        </div>

      </div>
    </div>
  </div>
</div>

<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>