@model Okapia.Domain.Commands.Setting.SetSettings
@{
  ViewData["Title"] = "تماس با ما";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Custom Banner-->
<section class="custom-banner dark-overlay" style="background: url('/assets/images/hero.jpg') no-repeat fixed;"></section><!--/Custom Banner-->
<!--Contact Area-->
<div id="map"></div>

<section class="contact-area section-padding-2">
  <div class="container">
    <div class="row ">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay="0.4s">
        <div class="contact-info rtl text-right">
          <h3>با ما در تماس باشید</h3>
          <p>راه های ارتباط</p>
          <div class="single-contact-info">
            <h4>آدرس دفتر</h4>
            <p>@Model.Address</p>
          </div>
          <div class="single-contact-info">
            <h4>تلفن</h4>
            <p><a href="tel:"><i class="fa fa-phone"></i>@Model.Tell1</a> <br> <i class="fa fa-fax"></i>@Model.Tell2</p>
          </div>
          <div class="single-contact-info">
            <h4>پست الکترونیکی</h4>
            <p>
              <a href="mailto:"><i class="fa fa-envelope"></i>@Model.Email</a> <br>
            </p>
          </div>
        </div>
      </div>
      @*<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 wow fadeInRight" data-wow-delay="0.4s">
        <div class="contact-form rtl text-right">
          <h3>فرم تماس</h3>
          <p>نظرات سوالات و پیشنهادات</p>
          <form action="#" id="contact_form_submit">
            <div class="single-field">
              <label for="name">نام</label>
              <input type="text" id="name" name="name">
            </div>
            <div class="single-field">
              <label for="email">ایمیل</label>
              <input type="email" id="email" name="email">
            </div>
            <div class="single-field">
              <label for="message">پیام</label>
              <textarea name="message" id="message" rows="4"></textarea>
            </div>
            <button type="submit" class="bttn-mid btn-fill">ارسال</button>
          </form>
        </div>
      </div>*@
    </div>
  </div>
</section><!--/Contact Area-->


<script>
  function initMap() {
    var Place = { lat: 35.756905, lng: 51.414264 };
    // Styles a map in night mode.
    var map = new google.maps.Map(document.getElementById('map'),
      {
        center: Place,
        zoom: 17,
        disableDefaultUI: true,
        styles: [
          {
            featureType: "poi",
            elementType: "labels",
            stylers: [
              { visibility: "off" }
            ]
          },
          { elementType: 'geometry', stylers: [{ color: '#242f3e' }] },
          { elementType: 'labels.text.stroke', stylers: [{ color: '#242f3e' }] },
          { elementType: 'labels.text.fill', stylers: [{ color: '#746855' }] },
          {
            featureType: 'administrative.locality',
            elementType: 'labels.text.fill',
            stylers: [{ color: '#d59563' }]
          },
          {
            featureType: 'poi',
            elementType: 'labels.text.fill',
            stylers: [{ color: '#d59563' }]
          },
          {
            featureType: 'poi.park',
            elementType: 'geometry',
            stylers: [{ color: '#263c3f' }]
          },
          {
            featureType: 'poi.park',
            elementType: 'labels.text.fill',
            stylers: [{ color: '#6b9a76' }]
          },
          {
            featureType: 'road',
            elementType: 'geometry',
            stylers: [{ color: '#38414e' }]
          },
          {
            featureType: 'road',
            elementType: 'geometry.stroke',
            stylers: [{ color: '#212a37' }]
          },
          {
            featureType: 'road',
            elementType: 'labels.text.fill',
            stylers: [{ color: '#9ca5b3' }]
          },
          {
            featureType: 'road.highway',
            elementType: 'geometry',
            stylers: [{ color: '#746855' }]
          },
          {
            featureType: 'road.highway',
            elementType: 'geometry.stroke',
            stylers: [{ color: '#1f2835' }]
          },
          {
            featureType: 'road.highway',
            elementType: 'labels.text.fill',
            stylers: [{ color: '#f3d19c' }]
          },
          {
            featureType: 'transit',
            elementType: 'geometry',
            stylers: [{ color: '#2f3948' }]
          },
          {
            featureType: 'transit.station',
            elementType: 'labels.text.fill',
            stylers: [{ color: '#d59563' }]
          },
          {
            featureType: 'water',
            elementType: 'geometry',
            stylers: [{ color: '#17263c' }]
          },
          {
            featureType: 'water',
            elementType: 'labels.text.fill',
            stylers: [{ color: '#515c6d' }]
          },
          {
            featureType: 'water',
            elementType: 'labels.text.stroke',
            stylers: [{ color: '#17263c' }]
          }
        ]
      });

    var marker = new google.maps.Marker({
      position: Place,
      map: map,
    });


  }


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7cKhDofbpXgQD99WZgnqgL-KoVImz75c&callback=initMap"
        async defer></script>