<main>
<div class="page-index page-home">
<div class="wrapper-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>

      @await Component.InvokeAsync("Categories")
      @await Component.InvokeAsync("SlideShow")

      <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
    </div>

    @await Component.InvokeAsync("Suggestions")

  </div>
</div>
<div class="wrapper-2">
<div class="container-fluid">
<div class="row h-position">

@await Component.InvokeAsync("FloatingCategories")

<div class="col-lg-22 col-md-22 col-sm-24 col-xs-24 padd-0-xs clearfix">
  <section class="related cat-deal-color main-cat around-me clearfix">
  <header class="section-header">
    <h6 class="hx">
      <span class="icon icon-special-user-offer"></span><span class="article-h3">پیشنهادات ویژه نت برگ</span>
    </h6>
  </header>

  <div class="main-cat-deal-thumbnail clearfix main-row">
    <div itemscope="" itemtype="http://schema.org/Offer" class="col-lg-6 col-md-12 col-sm-12 col-xs-24 cds-item  ">
      <div class="cat-deal-smallbox">
        <div class="cat-deal-box">
          <a href="tehran/d/c_entertainment/160583/%d8%b3%d8%b1%d8%b2%d9%85%db%8c%d9%86-%d9%81%da%a9%d8%b1-%d8%a8%d8%a7%d8%b2%db%8c%d8%a7-%d8%af%d8%b1-%d8%ac%d8%b4%d9%86%d9%88%d8%a7%d8%b1%d9%87-%d8%aa%d8%a7%d8%a8%d8%b3%d8%aa%d8%a7%d9%86%db%8c/index.html"
             class="figure">
            <ul class="deal-tag list-unstyled"></ul>
            <div class="overlay">
              <div class="nb-btn nb-btn-success">مشاهده و خرید</div>
            </div>
            <img data-src="http://static.netbarg.com/img/responsive_medium/deals/160583/21d70411.jpg" alt="سرزمین فکر بازیا در جشنواره تابستانی" data-type="lazy">
          </a>
          <div class="cat-deal-box-main clearfix">
            <h4 itemprop="name" class="cdbm-title">
              <a href="tehran/d/c_entertainment/160583/%d8%b3%d8%b1%d8%b2%d9%85%db%8c%d9%86-%d9%81%da%a9%d8%b1-%d8%a8%d8%a7%d8%b2%db%8c%d8%a7-%d8%af%d8%b1-%d8%ac%d8%b4%d9%86%d9%88%d8%a7%d8%b1%d9%87-%d8%aa%d8%a7%d8%a8%d8%b3%d8%aa%d8%a7%d9%86%db%8c/index.html" itemprop="url" class="truncate">
                سرزمین فکر بازیا در جشنواره تابستانی
              </a>
            </h4>
            <span class="cdbm-total-buy">
              <span class="ir">
                <i class="icon icon-shopping-cart hidden-xs"></i>
                <i class="icon icon-shopping-cart_L visible-xs"></i>
              </span>
              <span class="cdbm-tb-total">
                6708
              </span>
            </span>
          </div>
          <div class="cat-deal-box-footer clearfix">
            <a href="area/%d8%a7%d8%aa%d9%88%d8%a8%d8%a7%d9%86%20%d8%ad%d9%82%d8%a7%d9%86%db%8c/index.html"
               class="cdbf-location truncate">
              <span class="ir">
                <i class="icon icon-location74"></i>
              </span>
              <span class="cdbfl-address">
                اتوبان حقانی
              </span>
            </a>
            <span class="cdbf-takhfif">
              <span class="cdbft-shape">
                <span class="cdbft-shape-text">
                  %60
                </span>
              </span>
            </span>
            <span class="cdbf-price">
              <ins class="cdbf-netbarg-price">
                <span itemprop="price" content="280000">
                  ۲۴,۰۰۰
                </span>
                <span itemprop="priceCurrency" content="IRR"> تومان</span>
              </ins>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div itemscope="" itemtype="http://schema.org/Offer" class="col-lg-6 col-md-12 col-sm-12 col-xs-24 cds-item  ">
      <div class="cat-deal-smallbox">
        <div class="cat-deal-box">
          <a href="tehran/d/c_entertainment/160583/%d8%b3%d8%b1%d8%b2%d9%85%db%8c%d9%86-%d9%81%da%a9%d8%b1-%d8%a8%d8%a7%d8%b2%db%8c%d8%a7-%d8%af%d8%b1-%d8%ac%d8%b4%d9%86%d9%88%d8%a7%d8%b1%d9%87-%d8%aa%d8%a7%d8%a8%d8%b3%d8%aa%d8%a7%d9%86%db%8c/index.html"
             class="figure">
            <ul class="deal-tag list-unstyled"></ul>
            <div class="overlay">
              <div class="nb-btn nb-btn-success">مشاهده و خرید</div>
            </div>
            <img data-src="http://static.netbarg.com/img/responsive_medium/deals/160583/21d70411.jpg" alt="سرزمین فکر بازیا در جشنواره تابستانی" data-type="lazy">
          </a>
          <div class="cat-deal-box-main clearfix">
            <h4 itemprop="name" class="cdbm-title">
              <a href="tehran/d/c_entertainment/160583/%d8%b3%d8%b1%d8%b2%d9%85%db%8c%d9%86-%d9%81%da%a9%d8%b1-%d8%a8%d8%a7%d8%b2%db%8c%d8%a7-%d8%af%d8%b1-%d8%ac%d8%b4%d9%86%d9%88%d8%a7%d8%b1%d9%87-%d8%aa%d8%a7%d8%a8%d8%b3%d8%aa%d8%a7%d9%86%db%8c/index.html" itemprop="url" class="truncate">
                سرزمین فکر بازیا در جشنواره تابستانی
              </a>
            </h4>
            <span class="cdbm-total-buy">
              <span class="ir">
                <i class="icon icon-shopping-cart hidden-xs"></i>
                <i class="icon icon-shopping-cart_L visible-xs"></i>
              </span>
              <span class="cdbm-tb-total">
                6708
              </span>
            </span>
          </div>
          <div class="cat-deal-box-footer clearfix">
            <a href="area/%d8%a7%d8%aa%d9%88%d8%a8%d8%a7%d9%86%20%d8%ad%d9%82%d8%a7%d9%86%db%8c/index.html"
               class="cdbf-location truncate">
              <span class="ir">
                <i class="icon icon-location74"></i>
              </span>
              <span class="cdbfl-address">
                اتوبان حقانی
              </span>
            </a>
            <span class="cdbf-takhfif">
              <span class="cdbft-shape">
                <span class="cdbft-shape-text">
                  %60
                </span>
              </span>
            </span>
            <span class="cdbf-price">
              <ins class="cdbf-netbarg-price">
                <span itemprop="price" content="280000">
                  ۲۴,۰۰۰
                </span>
                <span itemprop="priceCurrency" content="IRR"> تومان</span>
              </ins>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div itemscope="" itemtype="http://schema.org/Offer" class="col-lg-6 col-md-12 col-sm-12 col-xs-24 cds-item  ">
      <div class="cat-deal-smallbox">
        <div class="cat-deal-box">
          <a href="tehran/d/c_entertainment/163253/%d8%ac%d8%b4%d9%86%d9%88%d8%a7%d8%b1%d9%87-%d9%be%d8%a7%db%8c%db%8c%d8%b2%d9%87-%d9%88-%d8%ac%d8%b4%d9%86%d9%88%d8%a7%d8%b1%d9%87-%d9%85%d8%ad%d8%b5%d9%88%d9%84%d8%a7%d8%aa-%d8%b3%d8%a7%d9%84%d9%85-%d9%88-%d8%b7%d8%a8%db%8c%d8%b9%db%8c/index.html"
             class="figure">
            <ul class="deal-tag list-unstyled"></ul>
            <div class="overlay">
              <div class="nb-btn nb-btn-success">مشاهده و خرید</div>
            </div>
            <img data-src="http://static.netbarg.com/img/responsive_medium/deals/163253/1111.jpg" alt="جشنواره پاییزه و جشنواره محصولات سالم و طبیعی" data-type="lazy">
          </a>
          <div class="cat-deal-box-main clearfix">
            <h4 itemprop="name" class="cdbm-title">
              <a href="tehran/d/c_entertainment/163253/%d8%ac%d8%b4%d9%86%d9%88%d8%a7%d8%b1%d9%87-%d9%be%d8%a7%db%8c%db%8c%d8%b2%d9%87-%d9%88-%d8%ac%d8%b4%d9%86%d9%88%d8%a7%d8%b1%d9%87-%d9%85%d8%ad%d8%b5%d9%88%d9%84%d8%a7%d8%aa-%d8%b3%d8%a7%d9%84%d9%85-%d9%88-%d8%b7%d8%a8%db%8c%d8%b9%db%8c/index.html" itemprop="url" class="truncate">
                جشنواره پاییزه و جشنواره محصولات سالم و طبیعی
              </a>
            </h4>
            <span class="cdbm-total-buy">
              <span class="ir">
                <i class="icon icon-shopping-cart hidden-xs"></i>
                <i class="icon icon-shopping-cart_L visible-xs"></i>
              </span>
              <span class="cdbm-tb-total">
                62
              </span>
            </span>
          </div>
          <div class="cat-deal-box-footer clearfix">
            <a href="area/%d8%a8%d8%a7%d8%ba-%da%af%db%8c%d8%a7%d9%87-%d8%b4%d9%86%d8%a7%d8%b3%db%8c-%d9%85%d9%84%db%8c-%d8%a7%db%8c%d8%b1%d8%a7%d9%86/index.html"
               class="cdbf-location truncate">
              <span class="ir">
                <i class="icon icon-location74"></i>
              </span>
              <span class="cdbfl-address">
                باغ گیاه شناسی ملی ایران
              </span>
            </a>
            <span class="cdbf-takhfif">
              <span class="cdbft-shape">
                <span class="cdbft-shape-text">
                  %34
                </span>
              </span>
            </span>
            <span class="cdbf-price">
              <ins class="cdbf-netbarg-price">
                <span itemprop="price" content="280000">
                  ۹,۹۰۰
                </span>
                <span itemprop="priceCurrency" content="IRR"> تومان</span>
              </ins>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div itemscope="" itemtype="http://schema.org/Offer" class="col-lg-6 col-md-12 col-sm-12 col-xs-24 cds-item  ">
      <div class="cat-deal-smallbox">
        <div class="cat-deal-box">
          <a href="tehran/d/c_restaurant/163300/%d8%a8%d9%88%d9%81%d9%87-%d8%b5%d8%a8%d8%ad%d8%a7%d9%86%d9%87-%d9%87%d8%aa%d9%84-%d9%be%d8%a7%d8%b1%d8%b3%db%8c%d8%a7%d9%86-%d8%a7%d9%88%db%8c%d9%86/index.html"
             class="figure">
            <ul class="deal-tag list-unstyled"></ul>
            <div class="overlay">
              <div class="nb-btn nb-btn-success">مشاهده و خرید</div>
            </div>
            <img data-src="http://static.netbarg.com/img/responsive_medium/deals/163300/1b2d03a6.jpg" alt="بوفه صبحانه هتل پارسیان اوین" data-type="lazy">
          </a>
          <div class="cat-deal-box-main clearfix">
            <h4 itemprop="name" class="cdbm-title">
              <a href="tehran/d/c_restaurant/163300/%d8%a8%d9%88%d9%81%d9%87-%d8%b5%d8%a8%d8%ad%d8%a7%d9%86%d9%87-%d9%87%d8%aa%d9%84-%d9%be%d8%a7%d8%b1%d8%b3%db%8c%d8%a7%d9%86-%d8%a7%d9%88%db%8c%d9%86/index.html" itemprop="url" class="truncate">
                بوفه صبحانه هتل پارسیان اوین
              </a>
            </h4>
            <span class="cdbm-total-buy">
              <span class="ir">
                <i class="icon icon-shopping-cart hidden-xs"></i>
                <i class="icon icon-shopping-cart_L visible-xs"></i>
              </span>
              <span class="cdbm-tb-total">
                14
              </span>
            </span>
          </div>
          <div class="cat-deal-box-footer clearfix">
            <a href="area/%d9%87%d8%aa%d9%84%20%d9%be%d8%a7%d8%b1%d8%b3%db%8c%d8%a7%d9%86%20%d8%a7%d9%88%db%8c%d9%86/index.html"
               class="cdbf-location truncate">
              <span class="ir">
                <i class="icon icon-location74"></i>
              </span>
              <span class="cdbfl-address">
                هتل پارسیان اوین
              </span>
            </a>
            <span class="cdbf-takhfif">
              <span class="cdbft-shape">
                <span class="cdbft-shape-text">
                  %35
                </span>
              </span>
            </span>
            <span class="cdbf-price">
              <ins class="cdbf-netbarg-price">
                <span itemprop="price" content="280000">
                  ۴۵,۵۰۰
                </span>
                <span itemprop="priceCurrency" content="IRR"> تومان</span>
              </ins>
            </span>
          </div>
        </div>
      </div>
    </div>
        <div itemscope="" itemtype="http://schema.org/Offer" class="col-lg-6 col-md-12 col-sm-12 col-xs-24 cds-item  ">
    <div class="cat-deal-smallbox">
      <div class="cat-deal-box">
        <a href="tehran/d/c_entertainment/163290/%d8%a7%d8%b3%d8%aa%d8%ae%d8%b1-%d8%b1%d9%88%d8%a8%d8%a7%d8%b2-%d8%a7%d8%b1%d9%85-%d9%88%db%8c%da%98%d9%87-%d8%a8%d8%a7%d9%86%d9%88%d8%a7%d9%86-21/index.html"
           class="figure">
          <ul class="deal-tag list-unstyled"></ul>
          <div class="overlay">
            <div class="nb-btn nb-btn-success">مشاهده و خرید</div>
          </div>
          <img data-src="http://static.netbarg.com/img/responsive_medium/deals/163290/346.jpg" alt="استخر روباز ارم ویژه بانوان " data-type="lazy">
        </a>
        <div class="cat-deal-box-main clearfix">
          <h4 itemprop="name" class="cdbm-title">
            <a href="tehran/d/c_entertainment/163290/%d8%a7%d8%b3%d8%aa%d8%ae%d8%b1-%d8%b1%d9%88%d8%a8%d8%a7%d8%b2-%d8%a7%d8%b1%d9%85-%d9%88%db%8c%da%98%d9%87-%d8%a8%d8%a7%d9%86%d9%88%d8%a7%d9%86-21/index.html" itemprop="url" class="truncate">
              استخر روباز ارم ویژه بانوان
            </a>
          </h4>
          <span class="cdbm-total-buy">
            <span class="ir">
              <i class="icon icon-shopping-cart hidden-xs"></i>
              <i class="icon icon-shopping-cart_L visible-xs"></i>
            </span>
            <span class="cdbm-tb-total">
              54
            </span>
          </span>
        </div>
        <div class="cat-deal-box-footer clearfix">
          <a href="area/%d9%be%d8%a7%d8%b1%da%a9-%d8%a7%d8%b1%d9%85/index.html"
             class="cdbf-location truncate">
            <span class="ir">
              <i class="icon icon-location74"></i>
            </span>
            <span class="cdbfl-address">
              پارک ارم
            </span>
          </a>
          <span class="cdbf-takhfif">
            <span class="cdbft-shape">
              <span class="cdbft-shape-text">
                %32
              </span>
            </span>
          </span>
          <span class="cdbf-price">
            <ins class="cdbf-netbarg-price">
              <span itemprop="price" content="280000">
                ۲۷,۲۰۰
              </span>
              <span itemprop="priceCurrency" content="IRR"> تومان</span>
            </ins>
          </span>
        </div>
      </div>
    </div>
  </div>
  </div>

  </section>

  @await Component.InvokeAsync("CategoriesWithJobs")

  <div class="col-md-1"></div>
</div>

<div class="col-lg-1 col-md-1 hidden-sm hidden-xs left-aside sticky-aside">
  <div id="nava2" class="affix-top">
    <div class="float-left-button">
      <ul>
        <a href="javascript:void(0)">
          <li>
            <i>
              <i class="icon icon-support"></i>
            </i><span>۰۲۱-۴۱۰۹۶۱۰۰ : پشتیبانی</span>
          </li>
        </a>
        <a href="javascript:void(0)">
          <li>
            <i>
              <i class="icon icon-home-phone"></i>
            </i><span>۰۲۱-۴۲۰۹۱۰۰۰ : شرکت</span>
          </li>
        </a>
        <a href="page/buy-netbarg/index.html">
          <li>
            <i>
              <i class="icon icon-lifebuoy"></i>
            </i><span>راهنمای خرید نت برگ</span>
          </li>
        </a>
        <a href="javascript:void(0)" class="backtotop">
          <li>
            <i>
              <i class="icon icon-arrow-up"></i>
            </i>
          </li>
        </a>
      </ul>
    </div>
  </div>
</div>

</div>
</div>
</div>
</div>


<div class="rate-notif desktop-notif">
  <div class="main-row">
    <span class="border-effect"></span>
    <div class="box-notif">
      <div class="circle-deal " id="rating-deal-img">

      </div>
      <div class="content-part">
        <div class="text1"></div>
        <div class="emoji_box">
          <ul class="list-inline list-unstyled emoji-ratings">
            <li>
              <div mj-type="single" rate-value="5" class="rating-box happy" mj-success="successNewRating">
                <i aria-hidden="true" class="icon icon-happy-face"></i>
                <p>راضی</p>
              </div>
            </li>
            <li>
              <div mj-type="single" rate-value="3" class="rating-box neutral" mj-success="successNewRating">
                <i aria-hidden="true" class="icon icon-normal-face"></i>
                <p>متوسط</p>
              </div>
            </li>
            <li>
              <div mj-type="single" rate-value="1" class="rating-box sad" mj-success="successNewRating">
                <i aria-hidden="true" class="icon icon-sad-face"></i>
                <p>ناراضی</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="close-icon">
          <i class="icon icon-close"></i>
        </div>
      </div>
    </div>
    <div class="box-comment">
      <form method="post" accept-charset="utf-8" mj-type="form" mj-model="model2" mj-method="post" mj-success="successGiftCardNotification" mj-target="/rating/ratings/ratingProcess.json" mj-before="checkRating" ="" action="http://netbarg.com/">
        <div style="display: none;">
          <input type="hidden" name="_method" value="POST"/>
        </div><input type="hidden" name="rate" id="rate-value"/><input type="hidden" name="notification" id="notification" value="1"/><input type="hidden" name="deal_user_id" id="deal-user-id" value=""/><input type="hidden" name="user_id" id="user-id" value="d41d8cd98f00b204e9800998ecf8427e"/>
        <div class="input textarea">
          <textarea name="opinion" placeholder="با ثبت نظر کد تخفیف بگیرید" class="" id="opinion" rows="2"></textarea>
        </div> <button type="submit" class="nb-btn nb-btn-sm nb-btn-success btn-green">ثبت نظر</button>
      </form>
    </div>
    <div class="box-off-code active c-rotate1">
      <div class="part3">
        <div class="circle-off">
          <div class="percent-num">%<span id="percent-num-notif"></span></div>
          <div class="text">تخفیف</div>
        </div>
        <div class="content_part2">
          <div class="text" id="percent-text-notif"></div>
          <div class="code-part">کد تخفیف :<span class="num gift-rating-notification"></span></div><a href="user/userProfiles/index.html#tab3" class="nb-btn nb-btn-sm nb-btn-rate">خریدهای من </a>
          <div class="close-icon">
            <i class="icon icon-close"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</main>