@using Okapia.Domain.Commands.User
@model Okapia.Domain.Commands.User.CreateUser

@{
    ViewData["Title"] = "EditCustomer";
}

<h1>فرم اصلاح اطلاعات کاربری</h1>

<h4>لطفا برای اصلاح یا تکمیل اطلاعات کاربری خود فرم زیر را کامل کنید</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Family" class="control-label"></label>
                <input asp-for="Family" class="form-control" />
                <span asp-validation-for="Family" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NationalCardNumber" class="control-label"></label>
                <input asp-for="NationalCardNumber" class="form-control" />
                <span asp-validation-for="NationalCardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProvinceId" class="control-label"></label>
                <input asp-for="ProvinceId" class="form-control" />
                <span asp-validation-for="ProvinceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label>
                <input asp-for="CityId" class="form-control" />
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postalcode" class="control-label"></label>
                <input asp-for="Postalcode" class="form-control" />
                <span asp-validation-for="Postalcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card1" class="control-label"></label>
                <input asp-for="Card1" class="form-control" />
                <span asp-validation-for="Card1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card2" class="control-label"></label>
                <input asp-for="Card2" class="form-control" />
                <span asp-validation-for="Card2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card3" class="control-label"></label>
                <input asp-for="Card3" class="form-control" />
                <span asp-validation-for="Card3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ثبت" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
