@model Okapia.Domain.SeachModels.MarketerSearchModel

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-border panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">جستجو در بازاریابان</h2>
      </div>
      <div class="panel-body">
        <form asp-action="Index" asp-controller="Marketer" asp-area="Administrator" method="GET">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="MarketerFirstName" class="control-label"></label>
              <input asp-for="MarketerFirstName" class="form-control"/>
              <span asp-validation-for="MarketerFirstName" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="MarketerLastName" class="control-label"></label>
              <input asp-for="MarketerLastName" class="form-control"/>
              <span asp-validation-for="MarketerLastName" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="MarketerNationalCode" class="control-label"></label>
              <input asp-for="MarketerNationalCode" class="form-control"/>
              <span asp-validation-for="MarketerNationalCode" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="MarketerMobile" class="control-label"></label>
              <input asp-for="MarketerMobile" class="form-control"/>
              <span asp-validation-for="MarketerMobile" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="MarketerProvinceId" class="control-label"></label>
              <select asp-for="MarketerProvinceId" asp-items="@Model.Provinces" class="select2" id="provinceDropDown" onchange="getCityList('provinceDropDown', '@Url.Action("GetCitiesByProvince", "City")', 'cityDropDown')"></select>
              <span asp-validation-for="MarketerProvinceId" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="MarketerCityId" class="control-label"></label>
              <select asp-for="MarketerCityId" class="select2" id="cityDropDown" onchange="getDistrictList('cityDropDown', '@Url.Action("GetDistrictsByCity", "District")', 'districtDropDown')">
                <option value="0">شهر مورد نظر را انتخاب کنید</option>
              </select>
              <span asp-validation-for="MarketerCityId" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="MarketerDistrictId" class="control-label"></label>
              <select asp-for="MarketerDistrictId" class="select2" id="districtDropDown" onchange="getNeighborhoodList('districtDropDown', '@Url.Action("GetNeighborhoodsByDistrict", "Neighborhood")', 'neighborhoodDropDown')">
                <option value="0">منطقه مورد نظر را انتخاب کنید</option>
              </select>
              <span asp-validation-for="MarketerDistrictId" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="MarketerNeighborhoodId" class="control-label"></label>
              <select asp-for="MarketerNeighborhoodId" class="select2" id="neighborhoodDropDown">
                <option value="0">محله مورد نظر را انتخاب کنید</option>
              </select>
              <span asp-validation-for="MarketerNeighborhoodId" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="MarketerIsDeleted" class="control-label"></label>
              <input asp-for="MarketerIsDeleted" class="form-control"/>
              <span asp-validation-for="MarketerIsDeleted" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input type="submit" value="جستجو" class="btn btn-primary"/>
              <a asp-area="Administrator" asp-controller="Marketer" asp-action="Index" class="btn btn-warning">به روزرسانی/پاکسازی فرم جستجو</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>