@model Okapia.Areas.Administrator.Models.NeighborhoodIndexViewModel
@{
  ViewData["Title"] = "مدیریت محله ها";
}


<h1>صفحه مدیریت مناطق</h1>

<h2>
  <button onclick="openCreateNeighborhoodModal()" class="btn btn-success text-lg-center">ایجاد محله جدید</button>
</h2>

<div id="createNeighborhoodDiv">

</div>

<script>
  function openCreateNeighborhoodModal() {
    openModalWithData('@Url.Action("Create", "Neighborhood")', 'createNeighborhoodDiv', 'createNeighborhoodModal');
  }
</script>

@await Html.PartialAsync("~/Areas/Administrator/Views/Neighborhood/_SearchNeighborhoods.cshtml", Model.NeighborhoodSearchModel)

<div id="listNeighborhoodDiv">
  @await Html.PartialAsync("~/Areas/Administrator/Views/Neighborhood/_ListNeighborhoods.cshtml", Model.NeighborhoodViewModels)
</div>
