@using Okapia.Application.Utilities
@using Okapia.Domain.ViewModels.User
@model Okapia.Domain.ViewModels.User.UserInfoViewModel

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
  <div class="container">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Okapia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
      <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
          <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">خانه</a>
        </li>
        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link text-dark" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> مراکز فروشگاهی <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-menu-li">
              <a href="#" class="text-dark">کرج</a>
            </li>
            <li class="dropdown-menu-li">
              <a href="#" class="text-dark">لرستان</a>
            </li>
            <li class="dropdown-menu-li">
              <a href="#" class="text-dark">ارومیه</a>
            </li>
            @*<li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>*@
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Agency">درخواست نمایندگی</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">درباره اُکاپیا</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">قوانین</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="http://eghamatyab.com/" target="_blank">گردشگری</a>
        </li>
        @if (!Model.IsAuthorized)
        {
          <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">ورود</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">ثبت نام</a>
          </li>
        }
        else
        {
          if (Model.Role == 4 || Model.Role == 5)
          {
            <li class="nav-item">
              <a class="nav-link text-primary" asp-area="Administrator" asp-controller="Home" asp-action="Index">@Model.Name خوش آمدید</a>
            </li>
          }
          if (Model.Role == 2)
          {
            <li class="nav-item">
              <a class="nav-link text-primary" asp-area="Job" asp-controller="Home" asp-action="Index">@Model.Name خوش آمدید</a>
            </li>
          }
          if (Model.Role == 1)
          {
            <li class="nav-item">
              <a class="nav-link text-primary" asp-area="Customer" asp-controller="Home" asp-action="Index">@Model.Name خوش آمدید</a>
            </li>
          }
          if (Model.Role == 3)
          {
            <li class="nav-item">
              <a class="nav-link text-primary" asp-area="Club" asp-controller="Home" asp-action="Index">@Model.Name خوش آمدید</a>
            </li>
          }
          <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">خروج</a>
          </li>
        }

      </ul>
    </div>
  </div>
</nav>