@model List<Okapia.Domain.ViewModels.Category.CategoryMenuViewModel>

<div class="col-lg-1 col-md-1 hidden-sm hidden-xs right-aside sticky-aside">
  <div id="nava" class="">
    <div class="float-cat">
      <ul>
        @foreach (var category in Model)
        {
          <a href="">
            <li id="li-@category.CategoryId" onmouseover="addFloatingCategoryMenuItemStyle('li-@category.CategoryId', '@category.Color')" onmouseout="removeFloatingCategoryMenuItemStyle('li-@category.CategoryId')">
              <i>
                <i class="icon @category.Icon"></i>
              </i><span>@category.CategoryName</span>
            </li>
          </a>
        }
      </ul>
    </div>
  </div>
</div>

<script>
  function addFloatingCategoryMenuItemStyle(elementId, color) {
    document.getElementById(elementId).classList.add("floating-menu-item-hover");
    document.getElementById(elementId).style.backgroundColor = color;
  }

  function removeFloatingCategoryMenuItemStyle(elementId) {
    document.getElementById(elementId).classList.remove("floating-menu-item-hover");
    document.getElementById(elementId).style.backgroundColor = 'transparent';
  }
</script>