@model List<Okapia.Domain.ViewModels.Category.CategoryMenuViewModel>

<section class="cat-big-small">
<article id="float-cat-restaurant" class="cat-deal-color color-rescoffee">
<header class="section-header">
  <a href="tehran/c_restaurant/index.html"
     class="visible-xs">
    بیشتر
  </a>
  <h3 class="hx">
    <span class="ir">
      <i class="icon icon-burger"></i>
    </span><a href="tehran/c_restaurant/index.html" class="article-h3">رستوران و کافی‌شاپ</a>
  </h3>
</header>
<div class="main-row clearfix">

<div class="col-lg-24 col-md-24 col-sm-24 col-xs-24 cat-deal-smallbox">
<div class="row">
<div class="swiper-container" dir="rtl">
<div class="swiper-wrapper">
<div class="col-lg-6 col-md-6 col-sm-4 cds-item swiper-slide">
  <div class="cat-deal-box">
    <a href="tehran/d/c_restaurant/161577/%d8%b3%d8%b1%d9%88%db%8c%d8%b3-%d8%b3%d9%81%d8%b1%d9%87-%d8%ae%d8%a7%d9%86%d9%87-%d8%a7%db%8c-%d8%af%d8%b1-%d8%b1%d8%b3%d8%aa%d9%88%d8%b1%d8%a7%d9%86-%da%a9%d9%86%d8%af%db%8c%d9%85%db%8c%d8%b2/index.html"
       class="figure">
      <ul class="deal-tag list-unstyled">
        <li class="orange-label"></li>
        <li class="violet-label"></li>
      </ul>
      <div class="overlay">
        <div class="nb-btn nb-btn-success">مشاهده و خرید</div>
      </div>
      <img data-src="http://static.netbarg.com/img/responsive_small/deals/161577/1bc503b2.jpg" alt="سرویس سفره خانه ای در رستوران کندیمیز" data-type="lazy" shema="1" itemprop="image" content="../static.netbarg.com/img/responsive_small/deals/161577/1bc503b2.jpg">
    </a>
    <div class="cat-deal-box-main clearfix">
      <h4 itemprop="name" class="cdbm-title">
        <a itemprop="url"
           href="tehran/d/c_restaurant/161577/%d8%b3%d8%b1%d9%88%db%8c%d8%b3-%d8%b3%d9%81%d8%b1%d9%87-%d8%ae%d8%a7%d9%86%d9%87-%d8%a7%db%8c-%d8%af%d8%b1-%d8%b1%d8%b3%d8%aa%d9%88%d8%b1%d8%a7%d9%86-%da%a9%d9%86%d8%af%db%8c%d9%85%db%8c%d8%b2/index.html"
           class="truncate">
          سرویس سفره خانه ای در رستوران کندیمیز
        </a>
      </h4>
      <span class="cdbm-total-buy">
        <span class="ir">
          <i class="icon icon-shopping-cart hidden-xs">
          </i>
          <i class="icon icon-shopping-cart_L visible-xs">
          </i>
        </span>
        <span class="cdbm-tb-total">
          64
        </span>
      </span>
    </div>
    <div class="cat-deal-box-footer clearfix">
      <a href="area/%d9%85%d8%ad%d9%85%d8%af-%d8%b9%d9%84%db%8c-%d8%ac%d9%86%d8%a7%d8%ad/index.html"
         class="cdbf-location truncate">
        <span class="ir">
          <i class="icon icon-location74">
          </i>
        </span>
        <span class="cdbfl-address">
          محمد علی جناح
        </span>
      </a>
      <span class="cdbf-takhfif">
        <span class="cdbft-shape">
          <span class="cdbft-shape-text">
            %50
          </span>
        </span>
      </span>
      <span class="cdbf-price">
        <del class="cdbf-real-price visible-xs">
          <span>۵۰,۰۰۰</span>
        </del>
        <ins class="cdbf-netbarg-price">
          <span itemprop="price"
                content="250000">
            ۲۵,۰۰۰
          </span>
          <span itemprop="priceCurrency" content="IRR">
            تومان
          </span>
        </ins>
      </span>
    </div>
  </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-4 cds-item swiper-slide ">
  <div class="cat-deal-box">
    <a href="tehran/d/c_restaurant/161577/%d8%b3%d8%b1%d9%88%db%8c%d8%b3-%d8%b3%d9%81%d8%b1%d9%87-%d8%ae%d8%a7%d9%86%d9%87-%d8%a7%db%8c-%d8%af%d8%b1-%d8%b1%d8%b3%d8%aa%d9%88%d8%b1%d8%a7%d9%86-%da%a9%d9%86%d8%af%db%8c%d9%85%db%8c%d8%b2/index.html"
       class="figure">
      <ul class="deal-tag list-unstyled">
        <li class="orange-label"></li>
        <li class="violet-label"></li>
      </ul>
      <div class="overlay">
        <div class="nb-btn nb-btn-success">مشاهده و خرید</div>
      </div>
      <img data-src="http://static.netbarg.com/img/responsive_small/deals/161577/1bc503b2.jpg" alt="سرویس سفره خانه ای در رستوران کندیمیز" data-type="lazy" shema="1" itemprop="image" content="../static.netbarg.com/img/responsive_small/deals/161577/1bc503b2.jpg">
    </a>
    <div class="cat-deal-box-main clearfix">
      <h4 itemprop="name" class="cdbm-title">
        <a itemprop="url"
           href="tehran/d/c_restaurant/161577/%d8%b3%d8%b1%d9%88%db%8c%d8%b3-%d8%b3%d9%81%d8%b1%d9%87-%d8%ae%d8%a7%d9%86%d9%87-%d8%a7%db%8c-%d8%af%d8%b1-%d8%b1%d8%b3%d8%aa%d9%88%d8%b1%d8%a7%d9%86-%da%a9%d9%86%d8%af%db%8c%d9%85%db%8c%d8%b2/index.html"
           class="truncate">
          سرویس سفره خانه ای در رستوران کندیمیز
        </a>
      </h4>
      <span class="cdbm-total-buy">
        <span class="ir">
          <i class="icon icon-shopping-cart hidden-xs">
          </i>
          <i class="icon icon-shopping-cart_L visible-xs">
          </i>
        </span>
        <span class="cdbm-tb-total">
          64
        </span>
      </span>
    </div>
    <div class="cat-deal-box-footer clearfix">
      <a href="area/%d9%85%d8%ad%d9%85%d8%af-%d8%b9%d9%84%db%8c-%d8%ac%d9%86%d8%a7%d8%ad/index.html"
         class="cdbf-location truncate">
        <span class="ir">
          <i class="icon icon-location74">
          </i>
        </span>
        <span class="cdbfl-address">
          محمد علی جناح
        </span>
      </a>
      <span class="cdbf-takhfif">
        <span class="cdbft-shape">
          <span class="cdbft-shape-text">
            %50
          </span>
        </span>
      </span>
      <span class="cdbf-price">
        <del class="cdbf-real-price visible-xs">
          <span>۵۰,۰۰۰</span>
        </del>
        <ins class="cdbf-netbarg-price">
          <span itemprop="price"
                content="250000">
            ۲۵,۰۰۰
          </span>
          <span itemprop="priceCurrency" content="IRR">
            تومان
          </span>
        </ins>
      </span>
    </div>
  </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-4 cds-item swiper-slide ">
  <div class="cat-deal-box">
    <a href="tehran/d/c_restaurant/161219/%d9%85%d9%86%d9%88-%d8%a8%d8%a7%d8%b2-%d8%ba%d8%b0%d8%a7%db%8c%db%8c-%d8%af%d8%b1-%d8%b1%d8%b3%d8%aa%d9%88%d8%b1%d8%a7%d9%86-%d8%a7%db%8c%d8%aa%d8%a7%d9%84%db%8c%d8%a7%db%8c%db%8c-%d9%87%db%8c%d8%b1%d8%a7%d8%af/index.html"
       class="figure">
      <ul class="deal-tag list-unstyled">
        <li class="violet-label"></li>
      </ul>
      <div class="overlay">
        <div class="nb-btn nb-btn-success">مشاهده و خرید</div>
      </div>
      <img data-src="http://static.netbarg.com/img/responsive_small/deals/161219/22ae0460.jpg" alt="منو باز غذایی در رستوران ایتالیایی هیراد" data-type="lazy" shema="1" itemprop="image" content="../static.netbarg.com/img/responsive_small/deals/161219/22ae0460.jpg">
    </a>
    <div class="cat-deal-box-main clearfix">
      <h4 itemprop="name" class="cdbm-title">
        <a itemprop="url"
           href="tehran/d/c_restaurant/161219/%d9%85%d9%86%d9%88-%d8%a8%d8%a7%d8%b2-%d8%ba%d8%b0%d8%a7%db%8c%db%8c-%d8%af%d8%b1-%d8%b1%d8%b3%d8%aa%d9%88%d8%b1%d8%a7%d9%86-%d8%a7%db%8c%d8%aa%d8%a7%d9%84%db%8c%d8%a7%db%8c%db%8c-%d9%87%db%8c%d8%b1%d8%a7%d8%af/index.html"
           class="truncate">
          منو باز غذایی در رستوران ایتالیایی هیراد
        </a>
      </h4>
      <span class="cdbm-total-buy">
        <span class="ir">
          <i class="icon icon-shopping-cart hidden-xs">
          </i>
          <i class="icon icon-shopping-cart_L visible-xs">
          </i>
        </span>
        <span class="cdbm-tb-total">
          2442
        </span>
      </span>
    </div>
    <div class="cat-deal-box-footer clearfix">
      <a href="area/%d8%a7%d8%b4%d8%b1%d9%81%db%8c-%d8%a7%d8%b5%d9%81%d9%87%d8%a7%d9%86%db%8c/index.html"
         class="cdbf-location truncate">
        <span class="ir">
          <i class="icon icon-location74">
          </i>
        </span>
        <span class="cdbfl-address">
          اشرفی اصفهانی
        </span>
      </a>
      <span class="cdbf-takhfif">
        <span class="cdbft-shape">
          <span class="cdbft-shape-text">
            %40
          </span>
        </span>
      </span>
      <span class="cdbf-price">
        <del class="cdbf-real-price visible-xs">
          <span>۴۰,۰۰۰</span>
        </del>
        <ins class="cdbf-netbarg-price">
          <span itemprop="price"
                content="240000">
            ۲۴,۰۰۰
          </span>
          <span itemprop="priceCurrency" content="IRR">
            تومان
          </span>
        </ins>
      </span>
    </div>
  </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-4 cds-item swiper-slide ">
  <div class="cat-deal-box">
    <a href="tehran/d/c_restaurant/162054/%d9%85%d9%86%d9%88-%d8%ba%d8%b0%d8%a7%d9%87%d8%a7%db%8c-%d8%a7%db%8c%d8%b1%d8%a7%d9%86%db%8c-%d8%af%d8%b1-%d8%b1%d8%b3%d8%aa%d9%88%d8%b1%d8%a7%d9%86-%d8%b3%d8%a7%d8%ad%d9%84%db%8c-%d9%85%d8%af%db%8c%d8%aa%d8%b1%d8%a7%d9%86%d9%87-%d9%81%d8%b4%d9%85/index.html"
       class="figure">
      <ul class="deal-tag list-unstyled">
        <li class="orange-label"></li>
        <li class="violet-label"></li>
      </ul>
      <div class="overlay">
        <div class="nb-btn nb-btn-success">مشاهده و خرید</div>
      </div>
      <img data-src="http://static.netbarg.com/img/responsive_small/deals/162054/1bc803b5.jpg" alt="منو غذاهای ایرانی در رستوران ساحلی مدیترانه فشم" data-type="lazy" shema="1" itemprop="image" content="../static.netbarg.com/img/responsive_small/deals/162054/1bc803b5.jpg">
    </a>
    <div class="cat-deal-box-main clearfix">
      <h4 itemprop="name" class="cdbm-title">
        <a itemprop="url"
           href="tehran/d/c_restaurant/162054/%d9%85%d9%86%d9%88-%d8%ba%d8%b0%d8%a7%d9%87%d8%a7%db%8c-%d8%a7%db%8c%d8%b1%d8%a7%d9%86%db%8c-%d8%af%d8%b1-%d8%b1%d8%b3%d8%aa%d9%88%d8%b1%d8%a7%d9%86-%d8%b3%d8%a7%d8%ad%d9%84%db%8c-%d9%85%d8%af%db%8c%d8%aa%d8%b1%d8%a7%d9%86%d9%87-%d9%81%d8%b4%d9%85/index.html"
           class="truncate">
          منو غذاهای ایرانی در رستوران ساحلی مدیترانه فشم
        </a>
      </h4>
      <span class="cdbm-total-buy">
        <span class="ir">
          <i class="icon icon-shopping-cart hidden-xs">
          </i>
          <i class="icon icon-shopping-cart_L visible-xs">
          </i>
        </span>
        <span class="cdbm-tb-total">
          11545
        </span>
      </span>
    </div>
    <div class="cat-deal-box-footer clearfix">
      <a href="area/%d9%81%d8%b4%d9%85/index.html"
         class="cdbf-location truncate">
        <span class="ir">
          <i class="icon icon-location74">
          </i>
        </span>
        <span class="cdbfl-address">
          فشم
        </span>
      </a>
      <span class="cdbf-takhfif">
        <span class="cdbft-shape">
          <span class="cdbft-shape-text">
            %40
          </span>
        </span>
      </span>
      <span class="cdbf-price">
        <del class="cdbf-real-price visible-xs">
          <span>۳۵,۰۰۰</span>
        </del>
        <ins class="cdbf-netbarg-price">
          <span itemprop="price"
                content="210000">
            ۲۱,۰۰۰
          </span>
          <span itemprop="priceCurrency" content="IRR">
            تومان
          </span>
        </ins>
      </span>
    </div>
  </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-4 cds-item swiper-slide ">
  <div class="cat-deal-box">
    <a href="tehran/d/c_restaurant/162054/%d9%85%d9%86%d9%88-%d8%ba%d8%b0%d8%a7%d9%87%d8%a7%db%8c-%d8%a7%db%8c%d8%b1%d8%a7%d9%86%db%8c-%d8%af%d8%b1-%d8%b1%d8%b3%d8%aa%d9%88%d8%b1%d8%a7%d9%86-%d8%b3%d8%a7%d8%ad%d9%84%db%8c-%d9%85%d8%af%db%8c%d8%aa%d8%b1%d8%a7%d9%86%d9%87-%d9%81%d8%b4%d9%85/index.html"
       class="figure">
      <ul class="deal-tag list-unstyled">
        <li class="orange-label"></li>
        <li class="violet-label"></li>
      </ul>
      <div class="overlay">
        <div class="nb-btn nb-btn-success">مشاهده و خرید</div>
      </div>
      <img data-src="http://static.netbarg.com/img/responsive_small/deals/162054/1bc803b5.jpg" alt="منو غذاهای ایرانی در رستوران ساحلی مدیترانه فشم" data-type="lazy" shema="1" itemprop="image" content="../static.netbarg.com/img/responsive_small/deals/162054/1bc803b5.jpg">
    </a>
    <div class="cat-deal-box-main clearfix">
      <h4 itemprop="name" class="cdbm-title">
        <a itemprop="url"
           href="tehran/d/c_restaurant/162054/%d9%85%d9%86%d9%88-%d8%ba%d8%b0%d8%a7%d9%87%d8%a7%db%8c-%d8%a7%db%8c%d8%b1%d8%a7%d9%86%db%8c-%d8%af%d8%b1-%d8%b1%d8%b3%d8%aa%d9%88%d8%b1%d8%a7%d9%86-%d8%b3%d8%a7%d8%ad%d9%84%db%8c-%d9%85%d8%af%db%8c%d8%aa%d8%b1%d8%a7%d9%86%d9%87-%d9%81%d8%b4%d9%85/index.html"
           class="truncate">
          منو غذاهای ایرانی در رستوران ساحلی مدیترانه فشم
        </a>
      </h4>
      <span class="cdbm-total-buy">
        <span class="ir">
          <i class="icon icon-shopping-cart hidden-xs">
          </i>
          <i class="icon icon-shopping-cart_L visible-xs">
          </i>
        </span>
        <span class="cdbm-tb-total">
          11545
        </span>
      </span>
    </div>
    <div class="cat-deal-box-footer clearfix">
      <a href="area/%d9%81%d8%b4%d9%85/index.html"
         class="cdbf-location truncate">
        <span class="ir">
          <i class="icon icon-location74">
          </i>
        </span>
        <span class="cdbfl-address">
          فشم
        </span>
      </a>
      <span class="cdbf-takhfif">
        <span class="cdbft-shape">
          <span class="cdbft-shape-text">
            %40
          </span>
        </span>
      </span>
      <span class="cdbf-price">
        <del class="cdbf-real-price visible-xs">
          <span>۳۵,۰۰۰</span>
        </del>
        <ins class="cdbf-netbarg-price">
          <span itemprop="price"
                content="210000">
            ۲۱,۰۰۰
          </span>
          <span itemprop="priceCurrency" content="IRR">
            تومان
          </span>
        </ins>
      </span>
    </div>
  </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-4 cds-item swiper-slide ">
  <div class="cat-deal-box">
    <a href="tehran/d/c_restaurant/162054/%d9%85%d9%86%d9%88-%d8%ba%d8%b0%d8%a7%d9%87%d8%a7%db%8c-%d8%a7%db%8c%d8%b1%d8%a7%d9%86%db%8c-%d8%af%d8%b1-%d8%b1%d8%b3%d8%aa%d9%88%d8%b1%d8%a7%d9%86-%d8%b3%d8%a7%d8%ad%d9%84%db%8c-%d9%85%d8%af%db%8c%d8%aa%d8%b1%d8%a7%d9%86%d9%87-%d9%81%d8%b4%d9%85/index.html"
       class="figure">
      <ul class="deal-tag list-unstyled">
        <li class="orange-label"></li>
        <li class="violet-label"></li>
      </ul>
      <div class="overlay">
        <div class="nb-btn nb-btn-success">مشاهده و خرید</div>
      </div>
      <img data-src="http://static.netbarg.com/img/responsive_small/deals/162054/1bc803b5.jpg" alt="منو غذاهای ایرانی در رستوران ساحلی مدیترانه فشم" data-type="lazy" shema="1" itemprop="image" content="../static.netbarg.com/img/responsive_small/deals/162054/1bc803b5.jpg">
    </a>
    <div class="cat-deal-box-main clearfix">
      <h4 itemprop="name" class="cdbm-title">
        <a itemprop="url"
           href="tehran/d/c_restaurant/162054/%d9%85%d9%86%d9%88-%d8%ba%d8%b0%d8%a7%d9%87%d8%a7%db%8c-%d8%a7%db%8c%d8%b1%d8%a7%d9%86%db%8c-%d8%af%d8%b1-%d8%b1%d8%b3%d8%aa%d9%88%d8%b1%d8%a7%d9%86-%d8%b3%d8%a7%d8%ad%d9%84%db%8c-%d9%85%d8%af%db%8c%d8%aa%d8%b1%d8%a7%d9%86%d9%87-%d9%81%d8%b4%d9%85/index.html"
           class="truncate">
          منو غذاهای ایرانی در رستوران ساحلی مدیترانه فشم
        </a>
      </h4>
      <span class="cdbm-total-buy">
        <span class="ir">
          <i class="icon icon-shopping-cart hidden-xs">
          </i>
          <i class="icon icon-shopping-cart_L visible-xs">
          </i>
        </span>
        <span class="cdbm-tb-total">
          11545
        </span>
      </span>
    </div>
    <div class="cat-deal-box-footer clearfix">
      <a href="area/%d9%81%d8%b4%d9%85/index.html"
         class="cdbf-location truncate">
        <span class="ir">
          <i class="icon icon-location74">
          </i>
        </span>
        <span class="cdbfl-address">
          فشم
        </span>
      </a>
      <span class="cdbf-takhfif">
        <span class="cdbft-shape">
          <span class="cdbft-shape-text">
            %40
          </span>
        </span>
      </span>
      <span class="cdbf-price">
        <del class="cdbf-real-price visible-xs">
          <span>۳۵,۰۰۰</span>
        </del>
        <ins class="cdbf-netbarg-price">
          <span itemprop="price"
                content="210000">
            ۲۱,۰۰۰
          </span>
          <span itemprop="priceCurrency" content="IRR">
            تومان
          </span>
        </ins>
      </span>
    </div>
  </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-4 cds-item swiper-slide ">
  <div class="cat-deal-box">
    <a href="tehran/d/c_restaurant/162054/%d9%85%d9%86%d9%88-%d8%ba%d8%b0%d8%a7%d9%87%d8%a7%db%8c-%d8%a7%db%8c%d8%b1%d8%a7%d9%86%db%8c-%d8%af%d8%b1-%d8%b1%d8%b3%d8%aa%d9%88%d8%b1%d8%a7%d9%86-%d8%b3%d8%a7%d8%ad%d9%84%db%8c-%d9%85%d8%af%db%8c%d8%aa%d8%b1%d8%a7%d9%86%d9%87-%d9%81%d8%b4%d9%85/index.html"
       class="figure">
      <ul class="deal-tag list-unstyled">
        <li class="orange-label"></li>
        <li class="violet-label"></li>
      </ul>
      <div class="overlay">
        <div class="nb-btn nb-btn-success">مشاهده و خرید</div>
      </div>
      <img data-src="http://static.netbarg.com/img/responsive_small/deals/162054/1bc803b5.jpg" alt="منو غذاهای ایرانی در رستوران ساحلی مدیترانه فشم" data-type="lazy" shema="1" itemprop="image" content="../static.netbarg.com/img/responsive_small/deals/162054/1bc803b5.jpg">
    </a>
    <div class="cat-deal-box-main clearfix">
      <h4 itemprop="name" class="cdbm-title">
        <a itemprop="url"
           href="tehran/d/c_restaurant/162054/%d9%85%d9%86%d9%88-%d8%ba%d8%b0%d8%a7%d9%87%d8%a7%db%8c-%d8%a7%db%8c%d8%b1%d8%a7%d9%86%db%8c-%d8%af%d8%b1-%d8%b1%d8%b3%d8%aa%d9%88%d8%b1%d8%a7%d9%86-%d8%b3%d8%a7%d8%ad%d9%84%db%8c-%d9%85%d8%af%db%8c%d8%aa%d8%b1%d8%a7%d9%86%d9%87-%d9%81%d8%b4%d9%85/index.html"
           class="truncate">
          منو غذاهای ایرانی در رستوران ساحلی مدیترانه فشم
        </a>
      </h4>
      <span class="cdbm-total-buy">
        <span class="ir">
          <i class="icon icon-shopping-cart hidden-xs">
          </i>
          <i class="icon icon-shopping-cart_L visible-xs">
          </i>
        </span>
        <span class="cdbm-tb-total">
          11545
        </span>
      </span>
    </div>
    <div class="cat-deal-box-footer clearfix">
      <a href="area/%d9%81%d8%b4%d9%85/index.html"
         class="cdbf-location truncate">
        <span class="ir">
          <i class="icon icon-location74">
          </i>
        </span>
        <span class="cdbfl-address">
          فشم
        </span>
      </a>
      <span class="cdbf-takhfif">
        <span class="cdbft-shape">
          <span class="cdbft-shape-text">
            %40
          </span>
        </span>
      </span>
      <span class="cdbf-price">
        <del class="cdbf-real-price visible-xs">
          <span>۳۵,۰۰۰</span>
        </del>
        <ins class="cdbf-netbarg-price">
          <span itemprop="price"
                content="210000">
            ۲۱,۰۰۰
          </span>
          <span itemprop="priceCurrency" content="IRR">
            تومان
          </span>
        </ins>
      </span>
    </div>
  </div>
</div>
</div>

<div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div>
</div>

<div class="col-lg-6 col-md-6 col-sm-6 cds-item hidden-xs done">
  <div class="cds-all-view-box">
    <span class="ir">
      <i class="icon icon-burger"></i>
    </span>
    <h4 class="cds-title">151 پیشنهاد رستوران و کافی شاپ</h4>
    <a href="tehran/c_restaurant/index.html">
      <button class="nb-btn nb-btn-success">مشاهده همه</button>
    </a>
  </div>
</div>
</div>
</div>
</div>
</article>
<figure class="figure-ads-baner hidden-xs visible-lg">
  <a href="trend/%d8%b5%d8%a8%d8%ad%d8%a7%d9%86%d9%87-%d8%af%d8%b1-%d8%aa%d9%87%d8%b1%d8%a7%d9%86/index.html" target="_blank">
    <img src="../static.netbarg.com/img/banner/banners/restaurantBanner/77/81c10add.jpg" alt="رستوران و کافی شاپ"/>
  </a>
</figure>

</section>