@using Okapia.Domain.SeachModels
@model Okapia.Domain.SeachModels.EmployeeSearchModel
<hr/>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-border panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">جستجو در کارمندان</h2>
      </div>
      <div class="panel-body">
        <form asp-action="Index" asp-controller="Employee" method="GET">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="EmployeeFirstName" class="control-label"></label>
              <input asp-for="EmployeeFirstName" class="form-control"/>
              <span asp-validation-for="EmployeeFirstName" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="EmployeeLastName" class="control-label"></label>
              <input asp-for="EmployeeLastName" class="form-control"/>
              <span asp-validation-for="EmployeeLastName" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="EmployeeUsername" class="control-label"></label>
              <input asp-for="EmployeeUsername" class="form-control"/>
              <span asp-validation-for="EmployeeUsername" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label asp-for="EmployeeIsDeleted" class="control-label"></label>
              <input asp-for="EmployeeIsDeleted" class="form-control"/>
              <span asp-validation-for="EmployeeIsDeleted" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input type="submit" value="جستجو" class="btn btn-primary"/>
              <a asp-area="Administrator" asp-controller="Employee" asp-action="Index" class="btn btn-warning">به روزرسانی/پاکسازی فرم جستجو</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>