@using Okapia.Domain.Commands.Category
@model Okapia.Domain.Commands.PageCategory.CreatePageCategory

@{
  ViewData["Title"] = "ایجاد رده بندی جدید";
}

<h1>فرم ایجاد رده بندی صفحه</h1>

<h4>برای ثبت رده بندی جدید فرم زیر را کامل کنید</h4>

<hr/>
<div class="row">
<div class="col-md-12">
<form method="post" id="createPageCategoryFrm">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <div class="col-md-4">
    <div class="form-group">
      <label asp-for="PageCategoryName" class="control-label"></label>
      <input asp-for="PageCategoryName" class="form-control" onchange="makeSlug('PageCategoryName', 'PageCategorySlug', '@Url.Action("CheckSlugDuplication", "PageCategory")')"/>
      <span asp-validation-for="PageCategoryName" class="text-danger"></span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label asp-for="PageCategoryParentId" class="control-label"></label>
      <select asp-for="PageCategoryParentId" asp-items="@Model.PageCategories" class="form-control">
        <option value="0">رده مافوق را انتخاب کنید...</option>
      </select>
      <span asp-validation-for="PageCategoryParentId" class="text-danger"></span>
    </div>
  </div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="PageCategoryPageTittle" class="control-label"></label>
    <input asp-for="PageCategoryPageTittle" class="form-control"/>
    <span asp-validation-for="PageCategoryPageTittle" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="PageCategorySlug" class="control-label"></label>
    <input asp-for="PageCategorySlug" class="form-control" onchange="checkSlugDuplication('@Url.Action("CheckSlugDuplication", "PageCategory")', 'PageCategorySlug')"/>
    <span asp-validation-for="PageCategorySlug" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="PageCategoryMetaTag" class="control-label"></label>
    <input asp-for="PageCategoryMetaTag" class="form-control"/>
    <span asp-validation-for="PageCategoryMetaTag" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="PageCategoryMetaDesccription" class="control-label"></label>
    <input asp-for="PageCategoryMetaDesccription" class="form-control"/>
    <span asp-validation-for="PageCategoryMetaDesccription" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="PageCategorySeohead" class="control-label"></label>
    <input asp-for="PageCategorySeohead" class="form-control"/>
    <span asp-validation-for="PageCategorySeohead" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="PageCanonicalAddress" class="control-label"></label>
    <input asp-for="PageCanonicalAddress" class="form-control direct-ltr"/>
    <span asp-validation-for="PageCanonicalAddress" class="text-danger"></span>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="PageCategoryShowOrder" class="control-label"></label>
    <input asp-for="PageCategoryShowOrder" class="form-control direct-ltr"/>
    <span asp-validation-for="PageCategoryShowOrder" class="text-danger"></span>
  </div>
</div>
  <table class="col-md-12 table table-bordered text-center">
    <tr>
      <td>فایل</td>
      <td>عنوان عکس</td>
      <td>Alt</td>
      <td>توضیحات</td>
      <td>پیش نمایش</td>
      <td>حذف</td>
    </tr>
    <tr>
      <td>
        <input id="categoryPicture" name="categoryPicture" type="file" size="1" onchange="uploadFile('categoryPicture', 'NameImage', 'deleteImage', 'pageCategory');PreviewImage('categoryPicture', 'prevImage');" class="form-control custom-file-input" accept="image/*"/>
        <input asp-for="NameImage" type="hidden" size="1" value=""/>
      </td>
      <td>
        <div class="form-group">
          <input asp-for="TitleImage" class="form-control" />
          <span asp-validation-for="TitleImage" class="text-danger"></span>
        </div>
      </td>
      <td>
        <div class="form-group">
          <input asp-for="AltImage" class="form-control" />
          <span asp-validation-for="AltImage" class="text-danger"></span>
        </div>
      </td>
      <td>
        <div class="form-group">
          <input asp-for="DescImage" class="form-control" />
          <span asp-validation-for="DescImage" class="text-danger"></span>
        </div>
      </td>
        <td>
          <img id="prevImage" src="~/defaultimage.png" alt="your image" with="100" height="100"/>
        </td>
        <td>
          <button type="button" id="deleteImage" onclick="deletePhoto('NameImage', 'prevImage', 'deleteImage', 'TitleImage', 'AltImage', 'DescImage', 'pageCategory')" class="btn btn-danger hidden">حذف</button>
        </td>
      </tr> 
  </table>

  <div class="col-md-6">
    <div class="form-group">
      <input type="button" value="ثبت" class="btn btn-success btn-lg" onclick="createEntityThenReferesh('@Url.Action("Create", "PageCategory")' ,'createPageCategoryFrm')" />
      <a class="btn btn-warning btn-lg" asp-action="Index" asp-controller="PageCategory" asp-area="Administrator">بازگشت به لیست</a>
    </div>
  </div>
</form>
</div>
</div>
