@model IEnumerable<Okapia.Domain.ViewModels.PageCategory.PageCategoryItemViewModel>

<ul class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
  <li>آخرین مطالب</li>
  @foreach (var item in Model)
  {
    <li>
      <a asp-controller="PageView" asp-action="Index" asp-route-id="@item.PageCategorySlug">@item.PageCategoryName</a>
    </li>
  }
</ul>