@model Okapia.Areas.Administrator.Models.CityIndexViewModel
@{
  ViewData["Title"] = "مدیریت شهرها";
}


<h1>صفحه مدیریت شهرها</h1>

<h2>
  <button onclick="openCreateCityModal()" class="btn btn-success text-lg-center">ایجاد شهر جدید</button>
</h2>

<div id="createCityDiv">

</div>

<script>
  function openCreateCityModal() {
    openModalWithData('@Url.Action("Create", "City")', 'createCityDiv', 'createCityModal');
  }
</script>

@await Html.PartialAsync("~/Areas/Administrator/Views/City/_SearchCities.cshtml", Model.CitySearchModel)

<div id="listCityDiv">
  @await Html.PartialAsync("~/Areas/Administrator/Views/City/_ListCity.cshtml", Model.CityViewModeles)
</div>
