/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@font-face {
    font-family: 'IranianSans';
    src: url('../fonts/IranianSans.eot');
    src: url('../fonts/IranianSans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/IranianSans.woff') format('woff'),
         url('../fonts/IranianSans.ttf') format('truetype'),
         url('../fonts/IranianSans.svg#merriweatherheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    font-family: "IranianSans" !important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    direction: rtl;
    text-align: right;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
.thumbnail {
    display: block;
    padding: 5px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.thumbnail .caption {
    margin-top: 5px;
}

.dropdown-menu-li {
    text-align: right;
    padding: 3px 15px;
}

th {
    text-align: right !important;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.loader {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 10%;
    width: 10%;
    background: rgba( 255, 255, 255, 0 ) url('/loading.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .loader {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loader {
    display: block;
}

.close {
    float: left !important;
}

.detail-name {
    font-weight: bold;
    font-size: 18px;
    height: 45px;
    border-bottom: 1px #ccc solid;
}

.detail-for {
    
    font-size: 18px;
}

.detail-name span {
    font-weight: normal;
}

.direct-ltr {
    direction: ltr;
}