@model Okapia.Areas.Administrator.Models.DistrictIndexViewModel
@{
  ViewData["Title"] = "Index";
}


<h1>صفحه مدیریت مناطق</h1>

<h2>
  <button onclick="openCreateDistrictModal()" class="btn btn-success text-lg-center">ایجاد منطقه جدید</button>
</h2>

<div id="createDistrictDiv">

</div>

<script>
  function openCreateDistrictModal() {
    openModalWithData('@Url.Action("Create", "District")', 'createDistrictDiv', 'createDistrictModal');
  }
</script>

@await Html.PartialAsync("~/Areas/Administrator/Views/District/_SearchDistricts.cshtml", Model.DistrictSearchModel)

<div id="listDistrictDiv">
  @await Html.PartialAsync("~/Areas/Administrator/Views/District/_ListDistricts.cshtml", Model.DistrictIndexViewModels)
</div>