@using Okapia.Areas.Customer.ViewComponents
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>@ViewData["Title"] - Okapia</title>

  <!-- Base Css Files -->
  <link href="~/css/bootstrap.css" rel="stylesheet"/>

  <!-- Font Icons -->
  <link href="~/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="~/assets/ionicon/css/ionicons.min.css" rel="stylesheet"/>

  <!-- animate css -->
  <link href="~/css/animate.css" rel="stylesheet"/>

  <!-- Waves-effect -->
  <link href="~/css/waves-effect.css" rel="stylesheet">

  <!-- Custom Files -->
  <link href="~/css/helper.css" rel="stylesheet" type="text/css"/>
  <link href="~/css/style.css" rel="stylesheet" type="text/css"/>

  <link href="~/css/site.css" rel="stylesheet"/>

  <link href="~/assets/notifications/notification.css" rel="stylesheet"/>

</head>

<body class="fixed-left">

  @await Component.InvokeAsync(typeof(NavigatorViewComponent));

  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="content-page">
    <!-- Start content -->
    <div class="content">
      <div class="container">
        @RenderBody()

        <hr />
        <footer class="border-top footer text-muted">
          <div class="container">
            &copy; 2019 - Okapia - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
          </div>
        </footer>

      </div>
      <!-- ============================================================== -->
      <!-- End Right content here -->
      <!-- ============================================================== -->

    </div>
  </div>
  <!-- END wrapper -->
  <div class="loader"></div>


  <environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
  </environment>
  <environment exclude="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>

  </environment>
  <script src="~/js/site.js" asp-append-version="true"></script>
  <script>
    var resizefunc = [];
  </script>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

  <script src="~/js/bootstrap.js"></script>
  <script src="~/assets/flot-chart/jquery.flot.js"></script>

  <script src="~/assets/flot-chart/jquery.flot.time.js"></script>
  <script src="~/assets/flot-chart/jquery.flot.pie.js"></script>
  <script src="~/assets/flot-chart/jquery.flot.selection.js"></script>

  <script src="~/js/jquery.app.js"></script>
  <script src="~/js/jquery.dashboard.js"></script>
  <script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
  <script src="~/js/ckeditor.js"></script>
  <script>
    CKEDITOR.replace('JobDescription');
    CKEDITOR.replace('editor1');


  </script>
  <script src="~/js/aspnetcorefileuploading.js"></script>
  <script src="~/js/ajaxFunctions.js"></script>

  <script src="~/assets/notifications/notify.min.js"></script>
  <script src="~/assets/notifications/notify-metro.js"></script>
  <script src="~/assets/notifications/notifications.js"></script>

  <script>
    $body = $("body");

    $(document).on({
      ajaxStart: function () { $body.addClass("loading"); },
      ajaxStop: function () { $body.removeClass("loading"); }
    });
  </script>
  @RenderSection("Scripts", required: false)
  <div class="loader"></div>
</body>
</html>