@model Okapia.Domain.Commands.Group.CreateGroup

<div id="createGroupModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" style="width: 55%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="custom-width-modalLabel">ایجاد گروه کاربری جدید</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <form id="createGroupFrm" method="post">
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <div class="col-md-4">
                <div class="form-group">
                  <label asp-for="Name" class="control-label"></label>
                  <input asp-for="Name" class="form-control"/>
                  <span asp-validation-for="Name" class="text-danger"></span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label asp-for="Description" class="control-label"></label>
                  <input asp-for="Description" class="form-control" />
                  <span asp-validation-for="Description" class="text-danger"></span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="button" value="ثبت" class="btn btn-success btn-lg" onclick="createEntityThenFeedList('@Url.Action("Create", "Group")', 'createGroupFrm', '@Url.Action("ListContent", "Group")', 'listGroupDiv')"/>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->